[2015-08-23 20:57] elf-pavlik opened #1 "tracking issues and canonical repository"
I suggest to delete https://github.com/openvocab/exchange and transfer this repository to openvocab organization. Assuming that you want canonical repository which tracks issues to stay there

[2015-08-23 21:06] elf-pavlik opened #2 "separate logical systems or just independent datasets and perspectives?"
Since we all operate in present time as part of **ecosystem of planet Earth**, one can consider everything as single _logical system_. On the other side, since we use decentralized _information system_ possibly even full P2P, we should anticipate for that in modeling. In other words, each exchange or event with multiple peers (Agents) involved, will have multiple sources of 'truth' all possibly ex

[2015-08-23 21:09] bhaugen commented on #1
Thanks. Is this better?

[2015-08-23 21:12] elf-pavlik commented on #1
Yes, thank you!

[2015-08-23 21:12] #1 closed

[2015-08-23 21:35] bhaugen commented on #1
Thank you! I was obviously ignorant about how to do some of this stuff.

On Sun, Aug 23, 2015 at 4:12 PM, ☮ elf Pavlik ☮ notifications@github.com
wrote:

[2015-08-23 22:13] elf-pavlik opened #3 "Food Stamp (concrete example)"
Following up on https://github.com/openvocab/ovn/issues/17#issuecomment-133706715

@zippy said:

I would like to exercise modeling of _FoodStamp_. How would you currently model an Offer(s) which gives choice of receiving certain amount of food after 'paying' for it either with $$$ or food stamps?

[2015-08-23 22:17] bhaugen commented on #3
FoodStamp: great use case.

[2015-08-23 22:25] bhaugen opened #4 "Mutual credit systems"
Maybe a different view of some exchange issues, as well as maybe #2:

"Intertrading is based on the idea that if neighbouring systems are both using 'LETS' units and these units are all equivalent to the national currency, then the units can simply be exchanged. However simply connecting trading between systems in this way - effectively merges two Mutual Credit Systems and undermines the community

[2015-08-24 08:55] elf-pavlik commented on #3
I failed to get started with [Web Currencies CG](https://www.w3.org/community/webcurrencies/) and it got deactivated. We could try to restart it and focus it on Linked Data definitions for all kind of different currency types. I even started collecting there few years ago [couple of examples for shares of assets](http://www.w3.org/community/webcurrencies/wiki/Assets_Shares)

Following thinking I r

[2015-08-24 11:55] bhaugen commented on #2
@elf-pavlik - re multiple sources of truth: the purpose of a conversation for action is to come to enough agreement to move ahead to do the actions. So everybody involved will have different views, but they need some critical, definable intersection.

And then, if these actions happen in a resource flow network, it will be useful to know what resources flowed where.

Changing the subject to IPO ta

[2015-08-24 13:41] elf-pavlik commented on #2
Even when we agree on something, when we don't use online silo, this common agreement will need to live in multiple places, and will require way to verify that all parties if fact agreed. Even in paper based contracts, each side gets it's own copy + may involve some notary service. IMO we need similar pattern for online contracts, which accommodates need of combining information from multiple data

[2015-08-24 14:05] bhaugen commented on #2
Yes to all that. Plus, each state change in a conversation for action
between independent agents working in different computation spaces requires
a distributed consensus protocol. I guess blockchains are where peoples'
heads are at now, but those are slow, computationally expensive, and
subject to re-centralization (mining pools). Paxos variants are an
alternative.

On Mon, Aug 24, 2015 at 8:41 AM

[2015-08-24 15:31] elf-pavlik commented on #2
I don't propose blockchains here, we could look at technologies like [Secure Scuttlebutt](https://github.com/ssbc) (ping @ahdinosaur) But I still see need to connect equivalent assertions from multiple parties, as discussed in https://github.com/openvocab/agent/issues/7

[2015-08-24 15:39] bhaugen commented on #2
I'm good with Secure Scuttlebutt. Forgot that one. Sorry, Mikey...old man,
bad memory.

On Mon, Aug 24, 2015 at 10:31 AM, ☮ elf Pavlik ☮ notifications@github.com
wrote:

[2015-08-24 16:25] bhaugen commented on #4
[Matthew Slater](http://matslats.net/) says:
"The model I am pushing for is the second one. I don't see it as a problem that credit risk is transferred from the individual to the community, although it does mean that good governance is important. This is also how CES works.
"The third model, multiLETS is quite difficult precisely because units do stray from home where their meaning and value is le

[2015-08-24 18:36] fosterlynn commented on #3
Agree. Here is a screen shot from a reply to an offer in WeZer, in the use case we are working on in Madison (MAN is their network's internal currency):
![manreply](https://cloud.githubusercontent.com/assets/3776081/9448894/d3a9538a-4a64-11e5-983f-b97e08462092.png)

[2015-08-29 09:49] elf-pavlik opened #5 "Karma Pass"
I started describing it here
https://github.com/hackers4peace/polyeconomy.info/wiki/Karma-Pass

Some relevant conversation about ticket / participation activity in https://github.com/schemaorg/schemaorg/issues/134#issuecomment-93369527

[2015-09-24 23:40] ahdinosaur opened #6 "use case: reconcile virtual accounts with real accounts"
currently within Enspiral we're having a conversation about our internal accounting system: "my.enspiral". since i'm most keen to build a system that works for Enspiral, i'll be extracting some feedback on our current system into user stories and design requirements here.

the main requirement (and current pain point for our accountants) is to ensure a set of virtual internal bank accounts are rec

[2015-09-24 23:56] bhaugen commented on #6
We haven't done this, but one idea that we are thinking about is that of underlying resource, where the underlying resource for a virtual account that is part of actual bank account is the actual bank account.

Does that make sense?

Not totally sure what the other issues mean, but I could yell at some REA accounting experts who might be willing to help. I think I understand REA intimately, but no

[2015-09-25 00:05] ahdinosaur commented on #6
yeah that makes sense.

[2015-09-25 00:11] fosterlynn commented on #6
@ahdinosaur I'll be interested in your user stories....

[2015-09-25 01:32] ahdinosaur commented on #6
same here, i'll try and work with the relevant people in Enspiral to digest the feedback on our existing system into actionable user stories and design requirements, will report the results of that back here.

[2015-10-04 13:12] elf-pavlik opened #7 "Job Offer & Job Board"
Looks like a very common feature which people should appreciate to make portable, since many offers could appear on multiple job boards
- http://www.fossjobs.net/
  - http://crosscloud.org/jobs/ | http://www.fossjobs.net/job/6911/devopsbackend-engineer-at-crosscloud/ & http://www.fossjobs.net/job/6910/front-end-developer-at-crosscloud/
  - https://www.sharetribe.com/jobs.html | http://www.fossjobs

[2015-10-05 18:25] elf-pavlik opened #8 "Transfer vs. Exchange & tracking vs. accounting"
conversation from gitter

[2015-10-05 22:26] bhaugen commented on #8
@ahdinosaur @almereyda did you get anything out of that (above)?

[2015-10-05 23:06] ahdinosaur commented on #8
i got that we should document any and all use cases (e.g. [relationships with agents and resources](https://github.com/valueflows/agent/blob/master/Properties.md)) as markdown files in a `use-cases/` directory in the repo of the domain we think is most related. i reckon if we lay everything out, we'll have a clearer picture of the minimal vocab that can support what we need, especially because i w

[2015-10-08 14:49] elf-pavlik opened #9 "vf:reciprocal"
In context of Exchange which involves certain Transfer in 'one direction' and another 'in opposite direction'. We could use property like vf:reciprocal to link those two together.

[2015-10-08 14:50] bhaugen commented on #9
I like it.

[2015-10-08 14:56] elf-pavlik commented on #9
In 10 years one can also send one of the contributors to this vocab a Gift and mark it as vf:reciprocal to PullRequest for this project which this person (receiving gift) contributed in distant past :smile:

[2015-10-08 14:57] bhaugen commented on #9
clicked wrong button accidentally, did not mean to close.

[2015-10-23 12:08] bhaugen opened #10 "Should we rename this repo?"
A bunch of concepts are related to Exchange:
- Intents (Offers and Wants) that may lead to exchanges
- Transfers (which may be one-way, not a reciprocal exchange)
- Ownership and other Agent:Resource relationships that may be affected by transfers
- Changes in Agent:Resource relationships that do not change ownership (e.g. custodian who has physical custody and responsibility but not ownership)

I

[2015-10-23 12:34] bhaugen opened #11 "Gitter chat about transfers, ownership and related concepts, commitments and claims"
elf-pavlik 06:30
@bhaugen could you edit your comment with a reference to some more details? https://github.com/valueflows/agent/issues/54#issuecomment-150547526
elf-pavlik 06:32
thanks!
bhaugen 06:32
@elf-pavlik - Done. Unfortunately, we haven't done anything with the idea yet except to add a text box for people to write some access rules for a resource. They want something like a card reader tha

[2015-10-23 13:41] elf-pavlik commented on #10
I would prefer to define _Transfer_ as **conceptual** change of ownership and don't conflate it with **physical** change of resource location _Transport_ or **virtual** change of resource location _MoveOfCurrencyBetweenAccounts_. Of course they all link to each other but each has distinct definition.

that sounds like going into modeling various aspects of **control** and **permissions**, one of p

[2015-10-23 13:44] bhaugen commented on #10
Agreed about differentiating change of ownership from change of location.

[2015-10-23 13:55] fosterlynn commented on #10
I have no need to change the name of the repo right now..... I think we want to keep process and exchange at the same level somehow.  But I also don't have any strong opinions, so I abstain.

Small note: the fact that we have economic events without a process and without an exchange doesn't bother me that much, they are still conceptually in the realm.

I agree too.  Ha, I once did a gig at a gas

[2015-10-23 19:23] bhaugen opened #12 "Defining Transfer"
Moved from https://github.com/valueflows/agent/issues/38#issuecomment-150667605

@elf-pavlik  wrote

[2015-10-23 19:26] bhaugen commented on #12
That definition implies that Transfer does not do anything else but transfer ownership, and ownership is a relationship between Agent and Resource.

Other changes in a resource like moving to another location or changing custodian would not be done by a Transfer event.

[2015-10-23 19:33] bhaugen commented on #12
Question: do we want to do anything else to the "agent owns resource" relationship?

We already know when and how that agent came to be the owner if we have a Production or Transfer event.

But, for example, what distinguishes "owner" from "custodian" except maybe a text description? Is that enough?

I don't want to answer that question yet. Will follow @elf-pavlik's principle and let the examples

[2015-10-23 19:49] elf-pavlik commented on #12
We have an example: https://github.com/valueflows/valueflows/blob/master/use-cases/dhen-value-flow.md and I [already started a diagram for it](https://docs.google.com/drawings/d/1OeypIeHVHjAlbnp6O7iMysqi16spohF12ULhkTUl-DE/edit?usp=sharing).

As we discussed we can have conceptual (I really don't want to say legal, and I find law quite conceptual) Transfer of ownership without any Transport betwee

[2015-10-24 01:18] ahdinosaur commented on #12
@elf-pavlik wrote

@bhaugen wrote

i feel the same way as @bhaugen, 'ownership' is one of many relationships that someone may want to 'transfer', 'custodian' also comes to mind for me, but i wonder what the edge is here: what else can we transfer?

[2015-10-24 09:46] bhaugen commented on #12
@ahdinosaur - I'm actually ok with (a) Transfer being limited to transfer of ownership. Otherwise (b) a transfer event needs to specify what relationship toward the resource is being transferred. Which would also be ok with me. I can't off hand tell what the pluses and minuses of (a) and (b) are.

[2015-10-24 09:50] bhaugen commented on #12
Also, in previous projects, we have combined economic events that transfer resources from one agent to another, with a couple of optional fields that also change the resource's location from one place to another. They were used when people did not feel like it was useful to specify the process of transportation. Sort of a cheat, but handy, and we went with handy cheats more than once. As we do whe

[2015-10-24 12:48] elf-pavlik commented on #12
Maybe we could clarify first, what the orange box labeled 'Exchange' means on this diagram?
https://github.com/valueflows/valueflows#exchange-oriented-flow

Does this illustration also apply to 'transfer' of responsibility for petting a cat daily? Or 'transfer' responsibility for verifying if a child brushed teeth before going to sleep?

As I understand we already started clarifying that _Exchange

[2015-10-24 13:00] bhaugen commented on #12
People who used some particular software. We always develop software as an experiment with particular groups of users, although we also try to include as many groups as possible in each experiment.

This project is not an experiment for a group of users, so the same considerations don't apply. It is, for us, a generalization and summarization from several experiments, and trying to collaborate on

[2015-10-24 13:12] elf-pavlik commented on #12
@bhaugen thank you for clarifications and I do find your hands on experience benefiting this work in fundamental way! Since I still see us as getting into group workflow and continuously understanding each other better and better, I just want to capture where we have common and where we have distinct aims and expectations. This way we can focus together on the common ones and work independently on

[2015-10-24 13:19] bhaugen commented on #12
@elf-pavlik @ahdinosaur - just to be clear, I agree that we should separate Transfer as a change of ownership from (maybe) Transport, which moves a resource to a different location, and may involve or be a process.

[Edit: I should add that I do not have a coherent model for Transport yet. I have created some in the past, but want to rethink in this context.]

Re Process, Transfer, Exchange and "s

[2015-10-24 13:58] fosterlynn commented on #12
@bhaugen thanks for replying about process / exchange on same level.

I am not ready yet to define Exchange as needing to be two (or more) way.  We might need that conceptual layer in the model (Process, Exchange == EconomicInteraction in an old version) to tie things together.  Or not.  But I want to think about it more.

(Side note: Sorry I haven't been keeping up as well as I possibly should, s

[2015-10-24 14:00] fosterlynn commented on #12
P.S. Hope that didn't sound like a rant, I'm very happy with this whole project and don't feel a need to rant.  But I do want to keep honest discussion and coordination going too....  :smile:

[2015-10-24 14:08] elf-pavlik commented on #12
:+1: slowing down with entertaining the future possibilities and focusing on GTD, I'll also get on some coding in next days, If you see me rambling on github or gitter I welcome a gentle nudge!

[2015-10-24 14:45] fosterlynn commented on #12
@elf-pavlik awesome, thanks! :+1:

[2015-10-24 21:16] elf-pavlik commented on #10
I remember we separated this repo from process, also to isolate all the concerns related to **accounting** https://github.com/valueflows/valueflows/issues/23

We also discussed tracking (logging) vs. accounting in https://github.com/valueflows/exchange/issues/8

IMO changes in ownership also fit accounting, only conceptual change, nothing at all changes in physical reality. If we isolate Ownership

[2015-10-24 22:04] bhaugen commented on #10
@elf-pavlik I like the idea.

[2015-10-25 06:39] ahdinosaur commented on #12
@bhaugen says:

yes. :fist:

@fosterlynn says:

i think it's best when we each do what we want to do, anything else is rubbish. i'm keen to be coding here while y'all dive deeper into the model. :smile:

i started on [linked-data-browser](http://dinosaur.is/linked-data-browser/) ([source](https://github.com/ahdinosaur/linked-data-browser)), since i want to play with linked data interfaces using [r

[2015-10-25 12:01] bhaugen commented on #12
@ahdinosaur I'm excited about http://dinosaur.is/linked-data-browser/ but I mostly want to help an agent round trip happen while keeping some other balls in the air at the same time. (Which I don't think is rubbish.) I could see that browser as part of the round trip.

I gotta finish the DHen value flow traversal report and then I'm plugging in on Lynn's json-LD parser (assuming it's not done yet.

[2015-10-25 12:54] fosterlynn commented on #12
:+1:

[2015-10-26 09:27] ahdinosaur commented on #12
yup, that's where i'm heading, with a focus on pioneering the relevant RDF-based Linked Data problems for client-side apps so Holodex doesn't have to.

[2015-11-10 22:00] pmackay commented on #7
Worth scanning http://blog.memespring.co.uk/2015/07/02/open-standards-for-job-vacancies/ which is related.

[2015-11-18 21:48] fosterlynn commented on #12
I'm working on Transfer and Exchange over in NRP land, with an eye towards valueflows (of course!).  Wanted to post my progress, this issue seems like it covers a lot of my current questions.  Sorry this is so tiny.  :(  Also, note this is very preliminary, hoping for some more discussion when y'all have a chance.

![transfer-process](https://cloud.githubusercontent.com/assets/3776081/11254518/ca3

[2015-11-18 21:58] bhaugen commented on #12
P.S. using a Rights model, ownership could be a defined right that is more or less "all rights". In which case, Transfers always transfer a Rights resource connected to an underlying resource.

Alternatively, a Resource could have an owner or owners as a relationship with one or more Agents. But now you got two ways to do everything.

So we should think about this a bit. Is the Rights model the wa

[2015-11-18 22:05] fosterlynn commented on #12
Or, a transfer of a resource that is not rights, i.e. has no underlying resource, could imply transfer of ownership?

But I like the idea of getting away from an assumption of ownership, and of thinking of ownership as a primary right for everything.  Moving towards people thinking of resources in the real world with as few rights as necessary to manage them well. At least having a model that will

[2015-11-26 23:51] fosterlynn commented on #12
This is after thinking about the lengthy gitter chat today with @elf-pavlik .  And other similar discussions we have had, including above in this issue.  This is about what is a Transfer.  We have talked about (and modeled) transport as a process, which we all agree on.  We have discussed Transfer as "conceptual" not physical, reflecting ownership change, while process is physical.

We have also d

[2015-11-27 13:24] elf-pavlik commented on #12
I see Transport matching requirements you state above. It changes physical location of a Resource which does change its usefulness. As you stated few comments before:

Besides that

I understand you want to record flows of _values_ - something conceptual not physical. In this case I see no problem if someone just ignores the physical detail and only records change of ownership over cookie. If you

[2015-11-27 15:37] bhaugen commented on #12
This has been an ongoing circular discussion/argument that is not getting us anywhere.

I propose that we focus on how we want to handle rights, and make clear that a transfer deals only with rights to resources. And that we focus on two use cases:
- book lending, a right to use a book for 2 or 3 weeks, with an expectation that the book will be returned by the end of the lending period.
- apartmen

[2015-11-27 16:47] fosterlynn commented on #12
I like the general approach @bhaugen .

The use cases you suggest seem basically the same, though.  How about we start with:
- book lending as proposed, say for 3 weeks
- purchase contribution per Sensorica: a member orders 2 parts needed for a process at the lab, the member pays for the parts, the parts are received at the lab (no separate shipping or tax involved)

If this makes sense to people,

[2015-11-27 16:52] bhaugen commented on #12
Let's try one or more different event types to record physical movements, that are not the same as Transfer.
Maybe:
- Transport (a process involving transportation resources)
- Movement (simple record of moving a physical resource from one location to another, where it's not worth recording the process. This is often used in physical inventory systems for recording the fact that an item is now in

[2015-11-27 17:00] elf-pavlik commented on #12
:+1: My main concern relates to blurring distinction between what happens in physical reality and perceptions around it, based on specific cultural constructs, like for example _ownership_.  If we can't agree on that distinction I would like that we patiently keep conversations about it open.

I created [use case file in main repo](https://github.com/valueflows/valueflows/tree/master/use-cases) an

[2015-11-27 17:09] bhaugen commented on #12
@elf-pavlik

We mostly agree on that, although edge cases might exist. Transferring rights makes the distinction explicit. Rights are all about economic relationships, laws and customs, not physical reality.

[2015-11-27 17:12] bhaugen commented on #12
Lynn and I have one. In the US it is called a "joint account". We are the joint owners, and as such, are a particular type of organization.

[2015-11-27 18:14] elf-pavlik commented on #12
:+1: distinction between _Rights_ and the actual _Resource_ should also come helpful when we get to use cases which include shared ownership. I can think of situations when agent transfers only X% of ownership rights for particular resource.

[2015-11-27 18:17] bhaugen commented on #12
In those cases, like in Lynn and my joint bank account, the agents who share ownership have some kind of agreement which constitutes an organization of some kind.

[2015-11-27 18:28] fosterlynn commented on #12
Another use case (from gitter chat): DHEN herb flow

https://github.com/valueflows/valueflows/blob/master/use-cases/dhen-value-flow.md

https://drive.google.com/drive/folders/0B6gVU-928vbCaVBFOWw2OU1VNUk

[2015-12-04 10:14] Em-AK commented on #7
I'm ready to talk about this with you @elf-pavlik
The software I wrote for http://jobs.makesense.org/ is the most basic you could think of. Despite that people use it !
I owe them some improvements ;)

[2015-12-04 13:53] fosterlynn commented on #7
Good use case...  And welcome @Em-AK !

@elf-pavlik how do you want to start?

[2015-12-04 23:30] elf-pavlik commented on #7
@fosterlynn we will take a bus together with @Em-AK Paris -> Berlin on Dec 11th and will take opportunity to discuss it IRL.

I would like to add to people profiles examples of skills and types of work one can do. Than if job offers use same identifiers (eg. wikidata) it can allow filtering offers by how they match your capabilities.

Since we will go together for [Open Food Network hackweek](http

[2015-12-04 23:45] bhaugen commented on #7
I recognize that job listings often specify particular technologies, but IRL many people who have been around for awhile can pick up a new language pretty quickly and may have more important attributes to offer. (Speaking as an old fart.)

[2015-12-05 16:00] elf-pavlik commented on #7
I also see place for broader/narrower attributes
- OOP - https://www.wikidata.org/wiki/Q79872
- REST - https://www.wikidata.org/wiki/Q749568

I think job offer could aggregate types of work from inputs to all the processes, to which this person would contribute to. I also liked what you showed me in NRP, how various types of work performed show up in person's profile. But from job offer perspectiv

[2015-12-05 16:38] bhaugen commented on #7
Aggregating all the types of work from all the processes connected to a context agent should be pretty easy to do with the VF vocab. Might make a good demo...? We (or should I say, @fosterlynn ) could generate it from nrp.sensorica.co

[2015-12-17 01:24] fosterlynn opened #13 "Use case: Rights as a resource in media?"
Starting this as a new issue, although there has already some discussion on rights as a resource sprinkled through issue #12 , which included many more broad ranging thoughts about transferring resources.

@gcassel I noticed in Hylo you mentioned that you have thought about rights in the context of art and media.  If you have the time and inclination, can you spell out how you think these might wo

[2015-12-17 05:26] gcassel commented on #13
@fosterlynn , I think in often in terms of digital creative non-code media, which can be licensed in various ways (not perfectly) via http://creativecommons.org/     Their site states:

"CC licenses may be applied to any type of work, including educational resources, music, photographs, databases, government and public sector information, and many other types of material. The only categories of wo

[2015-12-20 15:43] fosterlynn commented on #12
storing this here also (from link dumps) because it is about rights... http://www.w3.org/ns/odrl/2/

[2016-02-29 12:00] bhaugen commented on #6
@ahdinosaur - this initiative ever go anywhere?

[2016-03-01 07:19] ahdinosaur commented on #6
@bhaugen

hehe i saw that you went back and read the Enspiral thread about this, really happy that you're able to see those conversations first-hand. :smile_cat:

so, as far as i know about the progress of this initiative: my.enspiral continues to be a significant part of Enspiral (Services), so the demand for its improvement is as present as ever, just a question of who's carrying it. and it seem

[2016-03-01 13:54] bhaugen commented on #6
@ahdinosaur yeah, been inhaling the firehose for a couple of weeks. Thanks for carrying the torch for VF.

I see evidence of Charlie working on the short term needs. I was most interested in what Alanna and others mentioned about the research needed for the next version. Seems like we should be able to help with the accounting requirements. I can recruit some of the REA community to help if need b

[2016-03-01 17:29] fosterlynn commented on #6
If this gets going again in Enspiral, I'd be happy to put some time into Exchange vocab to support that, if people there want it.  (I've come up for air, got the bulk of the exchange re-write done in NRP, looking forward to getting back into VF.)

[2016-03-02 10:19] ahdinosaur commented on #6
since "the next version" will "get going again in Enspiral" in a matter of time, and when it does happen we might already be too late to guide vocab and designs, what if we were proactive and did some sprints with this as the focus? just a thought, especially keen if it brings out some of your recent work with NRP.

[2016-03-02 10:38] bhaugen commented on #6
@ahdinosaur - I'm in. I'm looking at [the current data model](https://github.com/enspiral/enspiral/blob/master/db/schema.rb) to prep a bit.

But we'd really need somebody who has fairly deep knowledge of several of the problems Alanna mentioned.

By the way, I am not personally angling to guide vocab and designs for the next version of my.enspiral. I am thinking of it mostly as a great use case fo

[2016-03-02 15:39] fosterlynn commented on #6
@ahdinosaur I'm in!

As a note, in my latest code round, I split out Transfer, and am using Give and Receive (usually called Take) event types within a Transfer.  Exchanges can group Transfers.

What I didn't do is "underlying resource" - the my.enspiral virtual accounts would be a very good use case for that; and we have virtual accounts in Sensorica too, addressed but not very well yet.

[2016-03-02 19:32] fosterlynn commented on #6
@ahdinosaur @bhaugen what is the best way to get going on a sprint? I would need to understand the requirements or user stories or use cases, as they are currently understood.

[2016-03-03 04:03] ahdinosaur commented on #6
@fosterlynn stumbled on [a recent my.enspiral hangout](https://www.youtube.com/watch?v=SYAGeKBMBE8) that does well to capture the core ethos: a virtual ledger backed by an actual bank account.

rough draft [use cases from video:](https://youtu.be/SYAGeKBMBE8?t=23m45s)
- as a user
  - i can login to my.ensiral
  - i can see all accounts i have access to
  - i can see transaction history of a given

[2016-03-03 13:19] bhaugen commented on #6
From Alanna in Loomio (copied with permission):

[2016-03-03 14:52] bhaugen commented on #6
@fosterlynn asks when Alanna made that comment: 5 months ago. In other words, it is not a comment on what we are doing here now, just surrounding conditions to inform some use cases.

[2016-03-03 14:58] fosterlynn commented on #6
@ahdinosaur thanks for the requirements!  Question:

In this situation, does a new company have its own real bank account, or is that also a virtual account within the one real bank account?  If the latter, what does "financially firewalled" mean?  A permissions thing? A viewing thing?  Is there something different about this situation than any other permissions to transfer funds between virtual a

[2016-03-03 15:08] bhaugen commented on #6
One other aspect of my.enspiral that I am absorbing from Slack chatter: it apparently takes the Enspiral ops team quite a lot of work to administer the system. I'm not sure what is all involved with that, but if a new system could ease that burden, it might be welcome. We'd need an ops person in the conversation to understand all that.

[2016-03-03 15:11] bhaugen commented on #6
So, assuming we all want to do this at least as a VF use case, and maybe as active participants in a redesign project, how do we engage those of us who want in with the Enspiral team that will be working on it? Will they be interested in working with VF, or will we come on like these uninvited guests trying to get in on the punchbowl? Or know-it-all busybodies?

[2016-03-03 15:34] fosterlynn commented on #6
@bhaugen those are very important questions. In the meantime, it is an interesting use case, even if we don't get invited, so I'm jumping in.  Hoping not to offend anyone!

A very preliminary scoping exercise, using @ahdinosaur list above:
- Resource (the virtual accounts and the underlying resource of the actual bank account, with a relationship)
- Resource Type (need those to do Resource pretty

[2016-03-03 15:41] bhaugen commented on #6
my.enspiral does not actually get into the whole set of value flows, because time reporting goes directly into Xero. Take a look at [our original Enspiral use case](https://github.com/valueflows/valueflows/wiki/Enspiral-Sample-Data), especially
![diagram](https://camo.githubusercontent.com/32a5fdb69ad2482f775eae08532b252afedc7add/68747470733a2f2f646f63732e676f6f676c652e636f6d2f64726177696e67732f64

[2016-03-03 15:59] fosterlynn commented on #6
I can see including all the transfers, that rounds out a view of the flows.  I'm hesitant to include value equations initially because it is so huge.  Maybe as phase 2?  We would need to include the results of the value equations - the distribution.  In my recent NRP work, I left the distribution event types as they were (Disbursement and Distribution), in the interest of breaking up the work.  Ma

[2016-03-03 16:08] bhaugen commented on #6
Agree about omitting value equations and processes. I think what they do is different from value equations a la sensorica or any other networks we have looked at for income distribution (e.g. Guerrilla Translators). I suspect the way Enspiralites think about it is the income is basically going to the service providers with some contributed to the collective. More like a tax than an income distribu

[2016-03-04 02:25] ahdinosaur commented on #6
each company has it's own real bank account. in the current legal system each real bank account is "financially firewalled" from another, as in you can't legally send or receive money without a legitimate reason. this is why virtual accounts are awesome, you can legally send and receive money between people (for funding internal projects, paying for internal services, etc) as long as you do it wit

[2016-03-04 02:31] ahdinosaur commented on #6
yeah, one key learning from being in Enspiral is that it's most important to focus on admin (ops) requirements and use cases above all others. i've done my best to be involved in conversations with the Ops team and plan to continue, recommend it as a general strategy.

[2016-03-04 02:49] ahdinosaur commented on #6
:+1: on omitting value equations and processes for any initial phase.

yet, there is a related pattern becoming more clear in Enspiral, which @joshuavial hints at in the video, about creating ["service-level agreements"](https://en.wikipedia.org/wiki/Service-level_agreement) between groups in Enspiral. as an example, the Ops team has a "service-level agreement" with both Enspiral Foundation and En

[2016-03-04 03:03] joshuavial commented on #6
I don't know if it fits but with your thinking here but I have been doing work on 'product agreements' which define how revenue is split between pods. This doesn't attempt to define what a pod needs to deliver as part of that agreement, just how the revenue is split.

For example at Dev Academy we have been exploring a product agreement for our bootcamp where 30% of revenue goes to teaching, 60% t

[2016-03-04 03:08] ahdinosaur commented on #6
@joshuavial yep sweet, that's exactly what i was hoping for, thanks for clarifying. :smiley: keen to follow your progress on this (and be a sounding board), as i'm interested in how we might design technical infrastructure to support (and automate) the process.

[2016-03-04 12:39] bhaugen commented on #6
I'm assuming "ask forgiveness rather than permission" for excerpts from relevant Loomio conversations, but I'll try to stay really relevant and use discretion. Like this one:

Anna-Marie

A question from a Newbe.

It states that Enspiral ventures contribute a voluntary amount each month. How does this align with work done under the auspices of Enspiral Services where I believed the expected contri

[2016-03-09 16:20] fosterlynn commented on #6
@ahdinosaur I am starting to think about this use case, and have a few questions, to make double sure I understand.  They relate to this [sample data](https://github.com/valueflows/valueflows/wiki/Enspiral-Sample-Data).
1. When someone in Enspiral Services does some work for a client, does ES bill the client and receive the money?  Or does the person doing the work bill the client and/or client se

[2016-03-09 20:53] fosterlynn commented on #6
@ahdinosaur Also,
1. Do the account managers for ES (non-billable) get paid for their time?  If so, how does that $ flow?

[2016-03-10 02:38] ahdinosaur commented on #6
the "project lead" is responsible for billing the client as ES, so the client will send the $ to ES. ([docs on this process](https://github.com/enspiral/services/wiki/Billing-Clients)). in this invoice is where the contribution rates are specified (as that goes into a line item in Xero, not sure if the client sees it).

money is always paid into the ES bank account. the contribution rate determine

[2016-03-10 16:28] fosterlynn commented on #6
@ahdinosaur thanks much! I'm working on the Enspiral sample data, slowly. Have some issues I need to think about and post.

None of my business, but just to note that another option is to pay out of the account income received based on actual hours the acct manager worked for the time period, and whatever formula you like.  No right or wrong, just choices. VF will support either.  NRP can figure t

[2016-03-13 02:16] elf-pavlik opened #14 "sync vs. async exchanges"
Use Case to capture:
1. Sofia & Pavlik receive dental health care from Dr. Cesar
2. Sofia requires 3 sessions, Pavlik 2 sessions
3. Pavlik pays to Cesar in cash after first sessions for his both sessions (current and next a week later)
4. Sofia pays to Cesar in cash 10 days after session last session for all 3 sessions

As we see here we have exchanges where physical service gets exchanged for vir

[2016-03-13 14:49] fosterlynn commented on #14
@elf-pavlik good use case.  I'll try the simplest version here, for discussion.

Pavlik:
- Exchange
  - Transfer
    - Give (value flow) 3/1/2016 Dr C to Pavlik one dental service, value 100 currency
    - Receive (value flow) 3/1/2016 Pavlik from Dr C one dental service
  - Transfer
    - Give 3/8/2016 Pavlik to Dr C 150 currency
    - Receive 3/8/2016 Pavlik to Dr C 150 currency
  - Transfer

[2016-03-13 14:54] fosterlynn commented on #14
^ A couple notes:  In this case, the promises are implied, not recorded.  They can be reported if Dr C  needs to send a statement or Sofia needs to figure out what she owes.  Also, note that these are probably not all recorded in the same place, maybe Sofia and Pavlik and Dr C each have their own records, which would include either the Give or Receive event that pertains to them.

[2016-03-14 03:30] elf-pavlik commented on #14
thank you @fosterlynn

i would prefer not to say that service 'has value 200 currency', service can have time duration, location etc. but the 200 currency seems better to me expressed as what the other party after  **negotiation** requests to have transferred in return to consider our economic relation levelled and/or what i promised to transfer. this way it will also work for barter scenarios whi

[2016-03-14 12:57] fosterlynn commented on #14
@elf-pavlik thanks!  Yes, the value is a secondary attribute, the main quantity and unit would be 1 dental session, or N hours, or 2 fillings, or whatever. And yes, "price" would be better for this, I agree.  "Value" is indeed overloaded.

I put it to indicate that you can price a service if you want.  Possibly a more clear way to say the price is to record a commitment or promise for the payment

[2016-03-14 13:03] bhaugen commented on #14
Or, alternatively, you could just record reciprocal commitments from the dentist to provide dental service and from Pavlik or Sofia to pay for it. Then you don't need to get into price or value, just the reciprocal commitments.

I don't know if this happened upfront or not. But for example if I take a car to a mechanic, when the mechanic knows what needs to be done, they will tell me roughly what

[2016-03-14 19:32] elf-pavlik commented on #14
:+1: i see that this way we can support currently common in the mainstream agreements based on one party needing to use a monetary currency to reciprocate, but we also support with the same modelling barter and other possible agreements which encourage reciprocity.

@fosterlynn I would also like to create example of the snapshot for each of the datasets (Pavlik, Sofia and Cesar each have their own

[2016-03-14 19:38] fosterlynn commented on #14
:+1:

I can work on that tomorrow.  Would like to start to include the promise/commitment part.

[2016-03-14 19:39] fosterlynn commented on #14
Hey Sofia plays the djembe?  Cool! :smile:

[2016-04-22 23:11] coopchange commented on #6
This is exciting. Commenting as affirmation for good work, and I look forward to re-reading all this and watching the video to contribute more fully.

Aside: That loomio discussion's crazy long, I wonder if Wezer was mentioned? Meeting a rep soon, I dunno if they've interfaced with y'all thru OVN or VF ... I imagine they've played with similar legal pain points and/or would benefit from the my.ens

[2016-04-23 09:40] bhaugen commented on #6
I did not see Wezer mentioned in Loomio. We've talked to them because the Mutual Aid Network uses them. But we have not used Wezer ourselves, other than a little light use in the MAN.

[2016-04-25 06:39] ghost commented on #6
Just checking in here to try to get more involved with the VF sprint to see how y'all define user journeys etc...

[2016-04-25 07:02] ghost commented on #6
@bhaugen I am wondering if you guys have a common framework or questionaire that you use to help to map out uses of a systems (such as the accounting proceedures of my.enspiral / cobudget / ES / ops team)

Or do you go out and mix it up inside the domain and then try to find domain experts and then question them this way?

What has worked well in your experience?

[2016-04-25 11:05] bhaugen commented on #6
@dan-mi-sun so far,
- we have written use cases and examples of real-world situations first as plain text, then
- translated them into our emerging vocabulary, then
- translated them into json-LD, then
- drew diagrams in @elf-pavlik 's emerging diagramming style.

Most of them are in [the use-cases directory of the main valueflows repository](https://github.com/valueflows/valueflows/tree/master/us

[2016-04-25 15:09] elf-pavlik commented on #6
I missed this issue when originally created and still haven't caught up with this whole conversation. Just sharing quick thought:

1) I would call all accounts used for monetary currencies virtual (describing only physical things as 'real')
2) We can model virtual resources like monetary currencies in similar way as physical resources
- agents keep physical resources as stocks in particular locati

[2016-04-25 19:15] fosterlynn commented on #6
@elf-pavlik interesting parallel with logical volumes, ha.  And I like the idea of being able to treat physical resources in a similar way to money resources (allowing different ownership of parts of a stock in a location).  Although the Enspiral use case probably doesn't have much in the way of physical resources.

Seems like it's time to see if the "underlying resource" concept will work here (r

[2016-04-25 23:17] dan-mi-sun opened #15 "use case: forming projects, reconciling real/virtual accounts, auditing projects/accounts"
This is quite rough and ready whilst I have a few moments. The use case is based around a project I am involved in called [Robin Hood Coop](http://robinhoodcoop.org/).
### Background (Robin Hood Coop v.0.1)

We are a motley-crew actively looking for ways of funding and expanding the commons (what p2p foundation calls [commonfare](http://p2pfoundation.net/Commonfare)). This is the context for all o

[2016-04-25 23:25] ghost commented on #6
@bhaugen your unfolding of domain expert covers the bases I was thinking about (sorry, this is legacy jargon from computing training)... a more agile word might be 'product owner'? Dunno.

Anyway - I have started a new usecase which I am much more familiar with which I think collides with this one...

[2016-04-25 23:45] bhaugen commented on #6
Here's to collisions!

[2016-04-25 23:56] fosterlynn commented on #15
@dan-mi-sun awesome to see your use case over here in VF!  I'm not sure how the blockchain mutation will impact the mapping, but I'd be interested in being part of working it through in gory detail whenever it makes sense.  And in conjunction with #6.

[2016-04-26 03:25] ghost commented on #15
### ... Part Two

(sun is emerging from behind some clouds, still kinda overcast)

### Business Operations of Making Robin Hood Coop v.0.1 Work (Grind)

Ok - I'll try to map out what went into making this work.

I'll preface this by saying Robin Hood Coop has been 95% run by volunteers. There are only two paid (ish) roles within the entire organisation. I'll point those out as we go along, to try

[2016-04-26 04:28] ghost commented on #15
@tereensio could you have a look at this and let me know if I have gotten this all right so far. I know your hands are deeper in the operational gears than mine :)

[2016-04-26 09:39] ghost commented on #15
Here is a quick overview of the 'how we internally organise' at Robin Hood. Although a bit old, it still holds pretty true. It is more focusing on the communications and organisational side of things.

http://discourse.robinhoodcoop.org/t/a-tale-of-organising-robin-hood/117

[2016-04-26 12:10] ghost commented on #15
### .... Part Three

(the sun has set, the sky has filled yet again with the pinpricked velvet sheet)

#### Irrigating the Commons, Robin Hood Coop v.0.1 Work (Grind): Robin Hood Projects Fund

What has been an interesting aspect of RHC is that it plays with value. It is not peoples charity, but a speculative contribution (i.e. people are speculating the algortihm in the market will lead to an inc

[2016-04-26 12:50] ghost commented on #15
### ... Part Four

(the midnight hour)

### Robin Hood Coop v.1.0

This latest round of developments has been delivered by the Robin Hood Collective. This is a crew of people most of whome have been involved in Robin Hood Coop since the early days, but are also now involved in a special purpose entity (a Benefit Corporation incorporated in Delaware, NY, USA) called Robin Hood Services (RHS).

Too

[2016-04-26 13:00] ghost commented on #15
#### ... Part Four TL;DR

As a basline we have a product which can handle automated bank account checking for payments in and payments out... AND payments WITHIN.

The next two paragraphs are worth repeating...

---

Next steps...

Next thing we are working on is a more stream lined version of Setting Up, Proposing, Auditing and Vetting projects.

This is where {future}my.enspiral comes in.

For a

[2016-04-26 13:12] bhaugen commented on #15
In case we need it for the VF treatment of the RobinHood stories, this [slide deck by Bill McCarthy](https://drive.google.com/file/d/0BxlqOeaPnXHfRmE3RFFNdVJfRWs/view?usp=sharing) has a fairly dense section about analyzing monetary instruments in REA that I _think_ I can understand well enough to explain. But I bet the RH gang will be way ahead of me... :grinning:

[2016-04-26 15:58] fosterlynn commented on #15
@dan-mi-sun I'm studying, will come back asap with some beginning thoughts or summarized version of the use case as it relates to VF, or something.... might be a day or two.

I was thinking to take a look at all economic flows.  And I was thinking the same for my.enspiral.  This statement indicates a smaller scope, but I do understand this is part of the original pain point in Enspiral.  Maybe I'l

[2016-04-26 17:26] fosterlynn commented on #12
Hi all, bringing this issue back from hibernation, based on another :smile: lengthy discussion with @elf-pavlik in gitter chat.  Shoot, I have missed the long VF chats with Pavlik.....

Where we got to in the gitter chat (so y'all don't have to actually read it!) is that we would lay out a very simple example of a Transfer so we can see what the data structure might look like.  I have split out th

[2016-04-26 18:19] fosterlynn commented on #12
Gathering suggested definitions for Transfer from this issue, to try to make it easier to think about:

[2016-04-26 18:28] fosterlynn opened #16 "Data structure for Transfer"
What should our data structure look like?

Here is more or less where I ended up in NRP recently, simplified to be able to start a discussion.  Understanding of course that is one input.  I'll just put it out there with the data as is, understanding we need to make it LOD friendly, discuss subclassing, etc.

Transfer
    - name
    - transfer type
    - notes
    - give and/or receive flows, depen

[2016-04-26 18:57] fosterlynn commented on #16
OK, sorry hit Comment too early, now updated, altho I need to get my markdown to work better....

[2016-04-26 19:30] gcassel commented on #12
I tacked on a bit to your gitter conversation before seeing this new issue @fosterlynn .  Thanks for conscientiously reporting and trying to further the dialogue here!

My comment regarded specific data-types which I think should be enabled for Transfers:

[2016-04-26 19:37] bhaugen commented on #12
Didn't look at the gitter conversation yet, but just for the record: each resource will carry all of its identifying information and know its provenance (which is the history of resource flows, processes, and transfers by which it got to wherever it is now). Those are all properties of the resource-being-transferred, not properties of the transfer itself.

[2016-04-26 19:38] bhaugen commented on #12
See also #16

[2016-04-26 19:45] gcassel commented on #12
Okay, what you're saying @bhaugen perfectly addresses my first example:

"what : table bracket S/N 1217083"

I guess that my second example will also be addressed by proper identification of each Agent involved in the transfer?

I.e.  in my example, the transfer would be from the agent identified as "Community A username bhaug1";    and we would only know indirectly (but clearly)  that bhaug1  is

[2016-04-26 20:04] bhaugen commented on #12
How to identify agents is a different issue (I think).

Lynn is communing with the Mutual Aid Networks to figure out how to identify agents in a community with two and maybe more systems that each have agent accounts.

But the trend seems to be to identify agents by (hopefully globally) unique cryptographic keys.

In my personal version of the future each agent has their own Personator (tm @Connor

[2016-04-26 20:53] gcassel commented on #12
This may seem off-topic, but I'm trying to relate it to Transfers:

Identifying agents by (hopefully globally) unique cryptographic keys is a great goal.  However, we currently do online actions and transactions via a very wide variety of _accounts_.  And in fact, I think that pseudonymous accounts are a perfectly valid and healthy way to interact within _some_ social contexts, although I don't us

[2016-04-26 21:22] bhaugen commented on #12
I think a variety of agent identification schemes will be required and they will probably vary by community and by sets of technical affordances. So the VF vocabulary and access protocols will need to be flexible.

But every value flow Lynn and I have created so far has had a designated context agent. In other words, a transfer will happen in a context. In Lynn's latest changes, a transfer has bot

[2016-04-26 21:36] fosterlynn commented on #16
One simple example to look at:  The transfer of funds from one "virtual account" to another, within one legal bank account.  @elf-pavlik I know you consider all currency accounts to be "virtual", but this is the terminology used by more than one actual group, so I'm going with it here, hope it is OK. :blush:

Transfer:
    - name: Payment to Bob
    - transfer type: Direct internal transfer
Give f

[2016-04-26 23:52] ahdinosaur commented on #15
@dan-mi-sun this is amazing, thanks for spending the energy to share this level of detail with us. i'm keen to join in digesting this epic odyssey into smaller stories. :cat:

[2016-04-27 00:46] gcassel commented on #12
I understand that every value flow you've created so far has had a designated context agent, but I don't see how that can be the case for the generic interoperable vocabulary.

I guess we're somehow talking past each other, and maybe I could express myself more simply and clearly.

It certainly seems to me that a truly interoperable personal identification system should indicate not only a persona

[2016-04-27 02:25] ahdinosaur commented on #12
@fosterlynn @elf-pavlik ++ thanks for reinvigorating Transfer, very relevant to #6 and #15. :)

hey @gcassel, as @bhaugen mentions, transfers already have a way to specify how they relate to agents (subject, object, context), if you think this is inadequate do you have an alternative in mind? also below,

since this is a question of how we describe an [agent](https://github.com/valueflows/agent),

[2016-04-27 08:51] ghost commented on #15
No problem... Will have more to report by the weekend as we're having a milestoning discovery session with ThoughtWorks tomorrow (+ Hylo hopefully).

Should be able to define some of the next steps that we will be taking.

[2016-04-27 13:23] fosterlynn commented on #12
@gcassel thanks, I think you are right in the case of the value flows, they should not need a context agent as we look at the vocabulary from the "independent view".  The flows happened no matter what the context.  I'll edit the data examples.  I think in the case of relationships between agents, we do still need the context because the relationship occurs in a context, and possibly doesn't exist

[2016-04-27 14:11] fosterlynn commented on #12
Straw dog definition, so y'all can tear it apart :)

Transfer: Transfer of rights (such as ownership, right to use, etc.) to an economic resource from one agent to another.

Shouldn't use the same word (transfer), but don't know a better one.....

[2016-04-27 14:12] bhaugen commented on #12
Transfer:  Giving rights (such as ownership, right to use, etc.) to an economic resource from one agent to another?

[2016-04-27 15:44] elf-pavlik commented on #12
s/Giving/Re-assigning/ (or just Changing)

So that we have definition from 3rd 'neutral' perspective. 1st and 2nd perspective will see it as either Give or Receive, while uninvolved observer can consider it simply as Re-assignment (Change). We had recently nice chat with @fosterlynn about seeing transfer of ownership as Give or Receive depending who looks at it. I emphasise need to also incorporat

[2016-04-27 15:52] elf-pavlik commented on #16
This seems like a consequence of integration with a legacy system.

I would see our current approach to Transfer more as a Contract. As you see your Give flow and Receive flow duplicate **exactly** the same data. It seems to me that we talk about the same Transfer/Contract and just look at it from different perspective.

Let's introduce digital signatures so that we can verify ownership claims. In

[2016-04-27 15:54] bhaugen commented on #12
I'm good with a neutral word, but re-assigning does not always apply. For example, a commons organization can give people rights to common resources but they are not really re-assigned. They may be assigned, I suppose.

[2016-04-27 16:08] elf-pavlik commented on #16
I would also see 'resource type' as an attribute of the resource not the flow, so:
Give flow:
- event date: 2016-04-10
- from agent: Lynn
- to agent: Bob
- resource: Virtual account for Lynn
  - resource type: Virtual Account
- quantity: 10 [Give flow will then decrement the resource]
- unit of quantity: US Dollar

Introducing ownership instead of 'nested virtual accounts', and making transfer a s

[2016-04-27 16:13] bhaugen commented on #16
Yes, resource type is an attribute of a resource. I think that is a hangover from our current software, where we often need to deal with resources that are not tracked, and so do not "exist", so in those cases, the event needs the resource type. Value Flows might want to handle that differently.

[2016-04-27 16:21] elf-pavlik commented on #16
I just 'nested' my last version of transfer further to add some types and names/labels. I guess some of you data modelling practices might have influences of relational databases and trying to fit things into tables. In RDF we have graph model which has different flexibility.

id = IRI/URI/URL

Let's draw some colourful bubbles!

[2016-04-27 16:48] fosterlynn commented on #16
Need to study more later, but briefly:

For sure!  I tried to say I know that we need to free the data into LOD!  Just takes me too long to think in LOD right now and wanted to get the discussion moving...

No they don't.  The resource is often different.  Think of the resource not as what is flowing, but as what is decremented or incremented on either side of the transfer.

Date might be differen

[2016-04-27 17:23] bhaugen commented on #16
I think this is mixed up in the discussion between Lynn and Pavlik trying to separate the transfers of rights from the movements of resources. I think we need to nail down what Rights are in relation to Resources. Let's work through some example resources:
- 3d printer
- carrots
- apartment
- seat on a train

The other aspect that may be different between a Give and Receive is the context, but see

[2016-04-27 17:26] bhaugen commented on #16
Lynn says I misunderstood. The examples might still be useful, and add the virtual account example.

[2016-04-27 17:27] fosterlynn commented on #16
Well, this example was 2 "virtual accounts", each of which is a right to a certain amount of a bank account.  Ownership, although possibly not legal ownership, I don't know.

So one virtual account is decremented, the other is incremented.  Both are rights. But they are different resources.

[2016-04-27 18:09] elf-pavlik commented on #16
@fosterlynn IMO movement of virtual resources between virtual accounts/stocks (nested or not) might require a virtual process and also could require departure - transit - transit -transit - arrival

In this case I see that we try to deal with ownership, IMO something always legal even if not based on some mainstream legal system. I guess term **Contract** might suggest more purely conceptual (lega

[2016-04-27 18:15] bhaugen commented on #16
See also https://github.com/valueflows/valueflows/issues/113

[2016-04-27 18:32] fosterlynn commented on #15
@dan-mi-sun questions:

What is the difference between "users" and "customers"?  .... and "members"?

This is because I am extremely unfamiliar with anything to do with standard investing, I'm sure....  So where do these assets come from?  What are the share classes and the implications?

So all the statements in the new software related to transferring of assets freely are a new thing, where the

[2016-04-27 19:18] fosterlynn commented on #15
@dan-mi-sun @ahdinosaur OK, I've gone through the epic odyssey and taken notes!  Wow!  I have to admit, I understand a lot less about the new product than the old way.... my problem, just no experience with investing.

I think I'd like to start creating an abbreviated mapping of the epic odyssey to the VF vocabulary, a lot of which is under development.... so this will be a chicken-egg dialectical

[2016-04-27 19:51] fosterlynn commented on #15
Starting with Agent vocabulary, initial thoughts, can get all of this into json-ld text and owl diagram at some point when there has been some discussion.  Reference the Agent repo.

Subclasses of Agent:
    - Cooperative (subclass of foaf:Group?)
    - BenefitCorporation (subclass of org:Organization, which we never agreed on using)
    - Person (foaf:Person)
    - Project (subclass of foaf:Group

[2016-04-28 00:34] ghost commented on #15
All these have been interchangable in the old form. This will continue to be the case within the walled gardens of RHC.

These are created out of thin air. They should ideally be in a one to one relationship to funds invested by a member. These funds are then invested on the stock market via our brokerage account. I hope this answers your question?

You could either get the coop to buy back shares

[2016-04-28 00:48] ghost commented on #15
@fosterlynn let me know what I can do to help with this. I will add to the new way of doing things soon...

I'll make a screencast of the new thing within a couple of weeks should make things a bit easier to understand... for me at least! ;)

[2016-04-28 01:31] gcassel commented on #12
^   Well, I think the generic concept of Transfer simply does not apply to the explicit assignment of rights to common resources and newly created resources, and I think that's okay.   I figure that such assignments can be created through licensing (including open source software and Creative Commons licenses) and any related community agreements, which may be quite formal / contractual in some ca

[2016-04-28 02:11] gcassel commented on #12
It's definitely great IMO @ahdinosaur  for the subject of each agent's context to be concentrated in the development of Agent vocabulary, and I guess it's okay for it to not even be mentioned in the Transfer "sub-vocabulary".  Frankly it makes me nervous because I'm afraid of people trialing or using the Process/Transfer vocabs  without defining Agents in what I'd consider to be a fundamentally so

[2016-04-28 02:36] gcassel commented on #15
I haven't had time to properly read and digest your epic sharings above @dan-mi-sun  but I'm really looking forward to it!    (Thank you)  :)

[2016-04-28 12:55] bhaugen commented on #12
Please.

[2016-04-28 12:55] fosterlynn commented on #15
Next installment: Resource.  We haven't formally done this vocab, so I'm using the REA/NRP vocabulary for now.  Let's fix it up for VF!

Economic Resource Types:
    - Bank account
    - Virtual account
    - Wallet?
    - Blockchain address
    - Investment share (maybe one for each share class? maybe a lot more specific, don't know?)
    - Investment asset????? (guessing)
    - Admin work
    -

[2016-04-28 13:46] bhaugen commented on #12
I think we need to nail down what we mean by rights. What is a Right, ontologically? How does it fit into the emerging VF vocab?

As I mentioned the REA community has discussed this a lot, but has not agreed on what a Right is. Here is [a previous discussion of rights to resources](https://docs.google.com/document/d/1mFnWLuYWpZ-UL-aIgA-I5dvBmgqJco_1S8ljXXXww4g/edit?usp=sharing), which I may have f

[2016-04-28 16:27] fosterlynn commented on #15
:+1:   Anyway, no worries, this will proceed at the pace it proceeds, and we'll fix what needs fixing.... :)

[2016-04-28 17:52] fosterlynn commented on #16
@gcassel I'm rethinking.... sorry about that!  I was thinking about transfers between groups and seeing that context was not so important then, and probably even a duplicate of the from or to agent.  But thinking about our herbal network here, they have lots of transfers internal to the network.  (That is basically how they operate, the herbs get sold to the agent at the next step all along the ch

[2016-04-28 19:06] fosterlynn commented on #15
Next installment: economic activity when a person joins RHC

Sharing scales:

I'm not sure the best way to record this choice.  It's a bit like Sensorica's value equations, but the work flow is different. Letting it simmer in background, possibly a discussion for later in the vocab development....

Making the following abbreviated because of the data structure discussions going on in other issues.

[2016-04-28 23:24] ahdinosaur commented on #15
this is really great @fosterlynn. :)

as a reward for reading this far, here's a picture from [Patchwork](https://ssbc.github.io/patchwork) #art posted by @wanderer:

![cpu city](https://cloud.githubusercontent.com/assets/719605/14904500/a9f5fffa-0dfc-11e6-83ea-ca5a23499b9c.gif)

[2016-04-28 23:34] fosterlynn commented on #15
@ahdinosaur hey great... can you do my reward for reading pictures from now on? :smile:

[2016-04-29 00:07] ahdinosaur commented on #15
@fosterlynn for sure. :cat:

[2016-04-29 02:47] ghost commented on #15
@bhaugen we are actually implementing a ['Conversation for Agreement'](https://github.com/valueflows/agent/issues/62#issuecomment-215613372) module within our latest integration work with Robin Hood / Hylo / Thought Works. I have been calling it the Offer/Bargain Engine.

Will have the user journies for these mapped out within the next week. Will post here when they are available.

[2016-04-29 02:49] ghost commented on #15
Once we have rolled out the above features... one of the future implementations of 'groups' that we will be looking at will be something along the lines of this: https://opencollective.com/

Indeed, we may just work directly with them at OC to build out a node of thier network ontop of our protocols to see how that plays out.

[2016-04-29 03:09] gcassel commented on #16
--Briefly  (I'm fading here, sorry)  that's one key type of context I would like for transfers to document in some way or other.

Right now, though, I'd say that the only reason I _always_ care about the context of [the communications medium/ network in which the transfer occurs] is with respect to whether or not its a secure network, and a valid transaction.   I mean,  I figure that any of the in

[2016-04-29 07:01] ghost commented on #15
[Robin Hood Recap.pdf](https://github.com/valueflows/exchange/files/241886/Robin.Hood.Recap.pdf)

Here are the user journies which came out of the RH / Hylo / TW integration roadmapping yesterday.

[2016-04-29 18:25] fosterlynn commented on #14
(Hmmm I started this ages ago, and it still sits here not submitted.  Looks sort of done, I'm just going to put it out there in case we want to pursue this more later.)

Separate datasets, still brainstorming, for discussion:

Pavlik:
- Exchange1
  - Transfer1
    - Receive (value flow) 3/1/2016 Pavlik from Dr C one dental service, price 100 currency
  - Transfer2
    - Give 3/8/2016 Pavlik to Dr

[2016-04-29 19:12] fosterlynn commented on #15
A note: Right now I have reciprocal transfers held together by an exchange.  I think (tentatively) that a better way to model that is to create a many-to-many associative thing relating them.  (Sorry for data model speak.)  In general, to relate events (which are hidden in this issue so far because that structure is under discussion) to each other as a way to denote which are "because of" another

[2016-04-29 19:57] fosterlynn commented on #15
Next installment: Monthly activity

**Transfer**, type Admin salary, from agent Robin Hood Coop, to agent Fred, quantity/unit €1500, inflow resource RHC operations virtual account (decremented), outflow resource Fred's virtual account (incremented)
-- or maybe just cut Fred a check? in which case there would be no outflow resource
-- Fred could record his work every month too and get paid by the h

[2016-04-29 20:42] elf-pavlik commented on #16
Do you take into account here that each agent needs to have freedom to host its data in fully independent data space? While in your current implementation Emily might need to have and account on DHEN instance. I believe that we move away from such approach and Emily just needs to have her account on The Web and use VF aware applications to connect with any other party in the ecosystem that wants t

[2016-04-29 21:03] fosterlynn commented on #16
@elf-pavlik I don't think I was tied up in implementations.  Just what people might want to know.  Emily might especially want to know what work she did as part of the DHEN network if she is keeping all her own data.  Just because it is an organized real-life network with a social and economic life of its own which Emily is part of.  Sometimes people want to connect to others in a context, not as

[2016-04-29 23:00] elf-pavlik commented on #16
I understand that in case of provided example of Transfer, you would use context to in a way label/tag in case you would like to filter by it in a future? Since we talk about easily extensible model, we can always add tags/labels or any extra information we care about. I think we should mostly focus on necessary minimum needed to express something.

Does anyone see in this example more required in

[2016-04-29 23:13] fosterlynn commented on #16
Not a label, it is a defined piece of info.  But I'm fine letting it simmer in the background.  It can be easily added or subtracted.

Sounds good, this is the hard part!

[2016-04-29 23:15] gcassel commented on #16
As long as the agents are clearly identified as unique individuals or groups, and the transfer occurs as a secure and mutually recognized/ verified transmission of information,  I guess that's all the information which is mandatory to create a valid transfer.

[2016-04-30 00:02] bhaugen commented on #16
Might be a valid transfer, but a context agent might also valid reasons for know which events occurred within their context. For example, for income distributions.

[2016-04-30 00:03] bhaugen commented on #16
Likewise we're in this transitional stage and context agents with legal identities need to report to the tax man.

Edit: This is a big issue in Enspiral, for example, where they have several different context agents with legal identities flowing money around through virtual accounts in their internal pseudo-bank.

[2016-04-30 00:28] elf-pavlik commented on #16
Why from and to agents don't provide enough information for income distribution? Let's maybe keep 'context agent' on distinct issue(s) and only add it here once we clearly document use cases which show requirement for it.

[2016-04-30 00:50] bhaugen commented on #16
Because I work in a lot of contexts. Likewise Lynn, likewise you, and I think likewise everybody who participates in VF.

[2016-04-30 00:52] bhaugen commented on #16
P.S. if we have a clear value flow through a network of processes and transfers, we don't need the context agent for income distributions. But for example housekeeping and administration maintain the context and are seldom clearly associated with a single value flow.

And the taxman is still knocking at the door...

[2016-04-30 01:09] fosterlynn commented on #16
We do need it because if we cross to a different context when traveling backwards in the value flow, we dump the income onto the different context's virtual account and stop traveling the chain.  Because each context agent can have a different value equation.

[2016-04-30 01:12] bhaugen commented on #16
As usual, Lynn is right.

[2016-04-30 01:22] ahdinosaur commented on #15
as a reward for reading this far (and especially to @dan-mi-sun and @fosterlynn who contribute such amazing work), here's another example of a fractal system [where everything is connected](https://github.com/valnet/valuenetwork/wiki/Everything-is-connected):

![infinite zooming fractal gears](http://i.imgur.com/B8eNodx.gif)

[2016-04-30 01:52] ahdinosaur commented on #16
um, we've already clearly documented use cases which show requirements for context agent:
- for example in Enspiral Craftworks, to be a member you must be [stewarding](https://github.com/loomio/loomio-org/wiki/stewarding:-accountability-and-support-in-a-workplace-without-bosses) at least one other member or contributor. in this relationship, we need to describe not only the "steward" and the "stew

[2016-04-30 16:42] fosterlynn opened #17 "Exchange definitions oriented towards coordination"
Ah, walks are so good for the thinking process!  Bob and I just did our walk'n'talk up and down the hill. :)

I hope this is a helpful thought.  Let's orient our definitions of all these REA concepts away from current relations of production towards new ones.  Immediately, let's get rid of the term "ownership" from the vocabulary.

I think we can do this by making the definitions neutral and just

[2016-04-30 22:56] elf-pavlik commented on #16
I don't see a clear Transfer here

could you please write an example data as @fosterlynn did for that use case? do you transfer monetary currency between accounts or between agents? do you see in your transfer besides **from**, **to** and **what** also the need to include **why** ? so far we focused just on the fact to describe the Transfer but not the motivation for that transfer.

[2016-04-30 23:36] elf-pavlik commented on #14
Not sure if we even need a transfer here, I didn't received any rights, and Dr C just did a particular Service, which I benefited from.

Also once again I wouldn't use price here. We may need some kind of commitment from me to pay 100, or if we do it sync we don't even need that commitment.

This one looks like a transfer of rights to virtual resource - monetary currency

Again, we don't have righ

[2016-04-30 23:44] bhaugen commented on #14
@elf-pavlik please don't blame me for the taxation agents.

[2016-04-30 23:46] fosterlynn commented on #16
@ahdinosaur  I don't think @elf-pavlik was saying we don't need a context agent for the agent relationship.

From an agent, to an agent; from a resource, to a resource when the resources are accounts.

[2016-04-30 23:52] gcassel commented on #12
I suggest that a right is a social construct or "social contract", consisting of mutually understood and accepted/ agreed _permission_ for a specific agent or agent-type to _use_ (and in some cases, potentially consume) a specific resource or resource-type, or to engage in a specific action-types/ activities.

I realize my suggested definition is extraordinarily unromantic according to social cont

[2016-05-01 00:04] fosterlynn commented on #14
I think there will often (always?) be a transfer when paid-for services are involved, although in many cases it may not be worth recording.  The actual doing of the service is probably processes for the agent doing them, possibly with the service as an output resource, if you want to connect up the value flow.  Same with shipping/transporting.  Then when you pay, you pay for a resource that is jus

[2016-05-01 00:05] ahdinosaur commented on #16
yep, i was using that as an example to start me thinking because the principle is more or less the same.

[2016-05-01 00:15] gcassel commented on #17
I can't speak for anyone else  but I think we're probably closer to alignment now!

I'm not interested in the idea of "ownership" per se, but I think that permissions/ authorizations/ use-rights  are fundamentally important.   Maybe we get confused though because the use-rights to some virtual resources, such as a dollar figure in a bank account, seem to be almost entirely "embodied" by the digita

[2016-05-01 00:19] gcassel commented on #17
^  My point is that as far as I can see, the most sustainable definition of transfer is focused entirely upon permissions/ use-rights, and not upon the transportation of any virtual or material resources.  (And maybe this could help with the issue of [synch/asynch](https://github.com/valueflows/exchange/issues/14#issue-140437196) transfer accounting.... reading that issue now

[2016-05-01 00:23] gcassel commented on #14
-- It may be reasonably proper to say that you _received a service_ in that case.   However,  we really must create vocabulary which accounts for services which develop, maintain or modify commonly held resources,  in addition to purely personal services...

[2016-05-01 09:03] danalexilewis commented on #17
Muddying up the waters a little: I think another factor of ownership is responsability. Not saying people actually fullfill/meet their responsibilities but never the less i think they exists. Eg A responsibility to maintain a thing (house) or decommission it correctly (battery).

So what could this look like:
1. inherited responsibilities. A receiver of an item inherits the responsibilities for it

[2016-05-01 09:06] danalexilewis commented on #17
My God android spell checking is shit - and you can't edit comments from mobile view... github fail

[2016-05-01 09:10] bhaugen commented on #17
@agentlewis - We totally agree about responsibilities. @fosterlynn and I discussed that topic in our walk-n-talk that triggered this issue. Both rights and responsibilities. And it does matter from a transactional view.

P.S. you can edit your github comments if you want...but I like responsablitzes.

[2016-05-01 09:17] bhaugen commented on #17
I think this discussion would be improved if we followed @elf-pavlik 's admonition to use real-world examples. Before Lynn and I walked-and-talked about this and came to the realization that the word and concept of ownership should be banned from the vocabulary and we should get down to only what matters for coordination between humans, we and Pavlik played around with some examples in this very m

[2016-05-01 12:38] fosterlynn commented on #17
@agentlewis hey thanks much for pitching into the discussion, good thought about responsibilities, especially as we start to think of resources more collectively.

And it's ok, spelling is for wimps.... just kidding mom.....

[2016-05-01 13:23] elf-pavlik commented on #14
Regarding price, I would really like that we make sure to model reciprocity in very generic way, this way avoid propagating monoculture of accounting systems as we see it today. If someone offers a Resource (Product, Service or MonetaryCurrency) person can define any number of possible resources it would like to exchange it for (also Product, Service or MonetaryCurrency). In that example we would

[2016-05-01 13:34] elf-pavlik commented on #16
How about cash payments? frome resource: The green wallet in Lynn's left pocket | to resource: puce wallet in Bob's [murse](https://en.wikipedia.org/wiki/Handbag#Men.27s_bags) :wink:

In case where you transfer monetary currency within a single bank account, you may need include information about this particular bank account, but as a part of definition which describes the resource, one that right

[2016-05-01 13:51] fosterlynn commented on #14
@elf-pavlik I agree, thanks for bringing it up!  (I forgot to take it out earlier.)

[2016-05-01 14:04] fosterlynn commented on #16
Just when you actually need it.

If you're doing a transfer from my wallet in my pocket to Bob's wallet in his murse :) then you probably aren't recording the resources.  Although some organizations will record money out of and into "petty cash", which is cash sitting around for small local expenses, and is a resource they need to keep track of.  But there are lots of times when only the resource

[2016-05-01 15:31] elf-pavlik commented on #16
It seems to me that for purpose other than identifying the resource, for which rights we transfer, information about stock from agent keeps it in and to agent plans to keep it in stay separate concerns. Once again, we transfer only rights to particular resource, the **delivery** of that particular resource (physical or virtual) and storing it in particular stock, seem to me independent from the ri

[2016-05-01 17:22] elf-pavlik commented on #17
responsibilities++

when we talk about permissions, we could try to evaluate ACL used by Solid for web resources - https://github.com/solid/web-access-control-spec

"access over ownership" ftw :wink:

[2016-05-01 17:49] bhaugen commented on #17
I'd also like to take a look at capabilities, which I think have a bunch of advantages over ACLs.
[capabilities vs ACLs](https://www.google.com/#q=capabilities+vs+ACLs)

[2016-05-01 17:50] gcassel commented on #17
rights/ permissions/ authorizations  and  responsibilities/ duties/ obligations  ....   I think those are all useful terms, and it'd probably okay to choose between alternative terms with pin-the-tail-on-the-donkey.  However, "rights and responsibilities" sounds good.

I guess that "permissions" sounds more neutral than "rights", which seems to have a moralistic "flavor" in some social contexts--

[2016-05-01 17:52] fosterlynn commented on #16
The current model from which we are working (not to say it can't be changed!) has what you are thinking of as the resource recorded as the quantity and unit of the economic event.  So $10 is transferred from say one virtual account resource to another virtual account resource.  In this particular example $10 is not the resource. In the case of the serialized custom built computer resource, say thi

[2016-05-01 17:53] bhaugen commented on #17
The main idea here, regardless of which words we use, is to define all this stuff in practical terms (where practicality might depend on the community).

[2016-05-01 17:57] gcassel commented on #17
IMO practicality always depends on the community/ social context.  But I've personally decided to shelve the "permissions vs. rights" question for now, in decisive favor of "rights".  (switching to that term in Agreement-Based Organization right now.)

If anyone doesn't love the term "rights" I'd like to hear about it here or elsewhere ;)

[2016-05-01 18:40] fosterlynn commented on #12
Next straw dog:

Transfer: Moving rights to and responsibilities for an economic resource from one agent to another.  This does not cover change of location or change of possession.  The exact rights and responsibilities can be defined by an agreement between the agents, and embodied in the resource to be transferred.  If not, the rights are assumed to be rights to consume, use, or transfer the re

[2016-05-01 20:58] danalexilewis commented on #12
@fosterlynn thats sounding pretty good. I'm going to have to mull over it a bit.

For me

Is a value. Though its very broad and I suspect resonates with most people, I think we should use the abstraction of referring to it as values. That way other values could be expressed as well.

eg A fisherman's net is a resource that he/she has rights over and responsibilities. The responsibility to maintain

[2016-05-01 21:08] bhaugen commented on #12
@agentlewis

All of the above.

Could be policies, as in, we only eat...foods that come from those kinds of processes.

But they all have processes, too. Permaculture, for example, has policies, recipes, plans, and "what happened". So do the others.

Then sometimes they become quality labels on food products.

[2016-05-01 22:24] gcassel commented on #12
I'm not enthusiastic about implying the attachment any specific responsibilities (such as "least harm to people and the earth") to **all** resource-rights.

I think it'll be great if humanity can start coordinating efforts in large and small internetworked communities to minimize harm to people and the earth, via community-specific (but perhaps interoperable) guidelines and responsibilities for th

[2016-05-01 22:33] ghost commented on #15
thanks @fosterlynn (& @ahdinosaur for the treats)

Here is another graphic I have just come across from [here](http://discourse.robinhoodcoop.org/t/moving-on-to-blockchain/259) (which I forgot we had done) which details our conception of how the new system would work (this before implementation... so a few things have changed)

[These user stories](https://github.com/valueflows/exchange/files/2418

[2016-05-01 22:59] fosterlynn commented on #12
@gcassel actually I'm not either as I look at it all.  I'd be fine with taking that off of the default sentence and leaving it for specific agreements.  People will define plenty there I'm sure.

@agentlewis what do you think?

[2016-05-01 23:48] fosterlynn commented on #15
@dan-mi-sun nice!  Yeah, I didn't address the new system yet, and I think still will wait until you get all settled with your deployment and all.  And we will have questions.

We talked today about focusing on Process for a bit because the vocabulary is more clear there and I think it will help us with our Transfer discussions.

If you get impatient for any reason, or want to take this in some dir

[2016-05-02 01:58] ghost commented on #15
All good - we're (VF and RH) entangled now.

Feedback on the first iteration would be very welcome - we're at the stage of formation, where input will help to effect each iteration of improvements in the system.

i.e. you have in us an opportunity to encode some 'Value Flows' ways of doing things. From what I can tell we are already somewhat closely aligned.

[2016-05-02 06:26] danalexilewis commented on #12
@fosterlynn yeah ideally the language should be un-opinionated. But should have a vehicle to express opinion through. I personally don't have a problem with a given set op people stipulating that the resources they supply need to be used in accordance with the suppliers values. I am not sure how enforceable it is - and think this is really out of scope of value flows. I see it that value flows ena

[2016-05-02 11:38] fosterlynn commented on #15
Entanglement :+1:

[2016-05-02 11:50] fosterlynn commented on #12
Yes.  How about an explicit way to link a resource or resource type with an agreement?  The agreement could be as complex as people want it to be, but would just be referenced in VF.  It would describe in more detail what rights are represented by the resource.

I know we haven't gotten to the resource part of the vocabulary done yet, but to me this seems roughly where it would go.  I tend to thin

[2016-05-02 11:52] fosterlynn commented on #12
OK, how about this?  Just took off the responsibilities detail at the end.

Transfer: Moving rights to and responsibilities for an economic resource from one agent to another. This does not cover change of location or change of possession. The exact rights and responsibilities can be defined by an agreement between the agents, and embodied in the resource to be transferred. If not, the rights are

[2016-05-02 11:58] bhaugen commented on #12
I like that definition except for the words "possession", which is not necessary, and "embodied", which seems inaccurate.  How about:

Transfer: Moving rights to and responsibilities for an economic resource from one agent to another. This does not cover change of location. The exact rights and responsibilities can be defined by an agreement between the agents, which accompanies the resource to be

[2016-05-02 12:01] fosterlynn commented on #12
:+1:

[2016-05-02 13:10] fosterlynn commented on #15
@dan-mi-sun I'm trying to figure out how we should move forward from here, need help.  :)

A question: Are you thinking about the VF model being helpful internal to the app?  And/or are you thinking there will be situations where you actually want to communicate between apps using the VF vocab and linked open data?  Like either between pieces of your app or between your stuff and the outside world

[2016-05-02 15:29] elf-pavlik commented on #12
If "possesion" means ~ "usership" as I understand document cited in google doc we used in last days. I think it belongs to the domain of rights for a resource. I agree that we shouldn't mention it since we actually might move/change it (possesion/usership) in transfer.

@fosterlynn would you like to make a Transfer.md in the root of this repo? This way we can track any further changes to Transfer

[2016-05-02 15:39] bhaugen commented on #12
Possession can have a lot of connotations besides usership (custody, for example). Which is why I did not like it in the definition. Then we need to define possession. Whereas location is fairly simple and I think understood by most people in roughly the same way, and gets the point across that transfers have a limited scope.

[2016-05-02 15:46] fosterlynn commented on #12
There was already a transfer.md for collecting notes.  I added the definition to the readme.md in the exchange repo so we could start collecting the definitions more visibly.

@elf-pavlik Works for you?

[2016-05-02 15:55] coopchange commented on #15
woof - y'all brilliant minds are blowin me away every day.

I know I have a bit of background work to do - @bhaugen has graciously
hooked me up with excellent reading material to get a fuller picture of
valueflo.ws; I have seen a presentation from RHC & saw some of @bhaugen's
presentation in Michigan that included their work, and I am scrambling
around the future-m.e channels (gdoc + slack + loomi

[2016-05-02 21:16] gcassel commented on #12
^this all feels like strong progress to me :)

[2016-05-02 22:00] elf-pavlik opened #19 "Exchange chains / Network (Multi-Party) barter"
I have impression that most use cases focus on one-to-one exchange. I would like to make sure that we also include some use cases with chains of exchanges.

@tanius work(ed) on
- http://edgeryders.eu/en/makerfox

and released some open source code at some point
- http://edgeryders.eu/en/makerfox/open-sourcing-network-barter

they also did solid research and provided references
- http://edgeryders.

[2016-05-02 22:08] ghost commented on #15
At it's simplest this might look like: us shipping some code. Then going through the code with you guys and then changing names to comply with VF:naming, where the processes we have implemented LOOK and FEEL like a VF way of doing things - this should be easiest at this earliest stage as there are fewer people that push access has to get through. My thinking is that once the 'groundwork' (that is

[2016-05-02 22:18] bhaugen commented on #15
@dan-mi-sun the VF model - the concepts and relationships, the ontology if you want to be fancy - is more important than the names.  The names only become important if you want to communicate with other agents on a shared vocabulary, cast your intents to the Web, or do something else that swims in the linked open data ocean. The model is what Bill McCarthy works on.

So if you get to the point of

[2016-05-02 22:23] elf-pavlik commented on #14
I added this use case as markdown file https://github.com/elf-pavlik/valueflows/blob/master/use-cases/dental-care-md

@bhaugen how would you describe a Commitment to transfer ownership of monetary currency (aka. pay) and Commitment to provide a particular dental service? The last one seems like transferring rights to consume that service. We can add gift card aspect where I get commitment from Dr

[2016-05-02 22:27] bhaugen commented on #19
That would be great! I looked at that a few times awhile ago. We want to be able to handle such use cases. Maybe @tanius could provide some?

We do have chains of exchanges in the DHen examples, but they are different from barter chains. Although barter chains are sorta related to mutual currency networks, and we can get a bunch of examples of those use cases from the Mutual Aid Networks.

[2016-05-02 23:20] elf-pavlik commented on #17
I need to turn transfers of ownership rights, allowing one to consume electricity, petrol etc. into use cases. I had some mind dumps on https://www.w3.org/community/webcurrencies/wiki/Assets_Shares which later made their way to the last paragraph of https://github.com/valueflows/valueflows/wiki/Principles-for-this-vocabulary

[2016-05-02 23:51] fosterlynn commented on #15
@dan-mi-sun @bhaugen yes seems like a great place to start would be doing some down and dirty mapping of the data and data relationships, in whatever form that appears in the code.  We will already have a sense of how it fits into the user stories.  As early as you have something makes sense.

[2016-05-03 00:28] fosterlynn commented on #17
:+1: asset shares use case.

[2016-05-03 15:32] elf-pavlik commented on #10
I think Commitment also could land here, it heavily depends on discussion in #14

We also have this gdoc [Agent-Resource-Rights design space](https://docs.google.com/document/d/1PvuTYI9p_d6MovLY-3zFpkVRdv2fJXh5qcvIYlntcjY/edit) where we focus on **rights**.

Proposal rename this repo to **valueflows/right**

[2016-05-03 16:10] elf-pavlik commented on #12
Currently in our definition we have

How about using more general statement

_Transfer does NOT affect the resource itself but only the rights to that resource. For example it does not imply any change to resource's location (such change requires a Process)._

[2016-05-03 16:42] bhaugen commented on #12
I like where you are going, but:

That can be complicated. It depends on the definition and identification of Resource. We're talking about a couple of properties for a resource. These are not necessarily names, just meanings.
- unique identifier of a logical resource
- tracking ID

Those are often different, although the tracking ID, if used, is almost always part of the unique identifier of a re

[2016-05-03 20:45] fosterlynn commented on #12
@elf-pavlik I also like where you are going.  But agree with @bhaugen too.  What we are struggling with has more to do with "resource" though, and transfer only indirectly.  I have the same problem with "resource" in my original definition too.

I think we're going to have to define Resource pretty soon to make headway.  What do you all think about an issue to work on all definitions in one place?

[2016-05-03 21:39] bhaugen commented on #14
I wouldn't describe it that way, and if I was the dentist, would not like it. "What? You think you got a right to my dental services? Who do you think you are?" I think it is a simple Commitment from the dentist to provide service. What am I missing?

That's an odd one. A lot of people think gift cards are a type of currency...I'm thinking about it.

[2016-05-03 21:42] fosterlynn commented on #10
You can have commitments in both transfer-land and process-land.  An example in process-land, "I commit to working on a knitted scarf this week, would you commit to help?".  In transfer-land, "I commit to giving Bob a knitted scarf (after we work on it) next week, then it will be his."

I vote we get rid of this, and bring all relevant info back into github somewhere.  I find it too much extra mot

[2016-05-03 21:44] bhaugen commented on #10
Yes please ditch the google doc. It seemed helpful for about a day...

[2016-05-03 22:36] elf-pavlik commented on #12
I think we need to clarify how to **identify** resources in VF environment, I just created an issue for that - https://github.com/valueflows/resource/issues/13

[2016-05-03 23:20] elf-pavlik commented on #10
I think when we talk about Process we need to stay clear if we refer to Recipe, Plan or Reality/Report. Commitments seem not to play any role in Recipe part but only in Plan and Reality/Report.

As I mentioned in #14, one way of seeing commitment "I will work on knitting scarf for 20 hours next week" ~= transfer of rights to **consume** service ( a resource) - "elf knitting scarf for 20 hours next

[2016-05-03 23:45] elf-pavlik commented on #14
If you make a **commitment** that you will give a particular service to a particular person. For example "Give a ride from one town, to another town (~20km) on particular day". Maybe even as part of exchange where you have already consumed service of the other person (eg. got your car fixed). If you don't see that the other person has right to consumer the service which you promised (made commitme

[2016-05-03 23:50] elf-pavlik opened #21 "define Commitment"
based on conversation from #14

I think we need to take few use cases and based on them try to define commitment. In some cases they seem to me similar to Transfer of rights. Example showing a clear difference between those two would help with drawing a stronger distinction.

[2016-05-03 23:50] ahdinosaur commented on #10
wondering the same, my intuition says we should rename this repo to `valueflows/transfer`.

[2016-05-04 07:56] bhaugen commented on #14
I suppose you could describe it that way, but it seems excessive and unnecessary to me. Then you'd need to define "right" in that situation. I would reserve rights in the vocab to relationships between agents and some kinds of resources, in which set I would not include services of humans.

In that case, you have a claim, which is stronger than a commitment. If you do your part of a set of recipro

[2016-05-04 08:17] bhaugen commented on #21
From [“The Ontological Foundation of REA Enterprise Information Systems"](https://msu.edu/user/mccarth4/Alabama.doc) (Guido Geerts and William.E. McCarthy)  working paper, Michigan State University (August 2000)

[2016-05-04 08:23] bhaugen commented on #21
A contractual commitment requires a conversation for action where each participant agrees.

[2016-05-04 12:17] fosterlynn commented on #10
:+1:   although no need to be in a rush I suppose

[2016-05-04 16:31] elf-pavlik commented on #10
:+1: i see it an improvement over exchange, if we later find out that we need more general term we can always rename it again

since no one objects @ahdinosaur would you like to rename it right away to `valueflows/transfer`?

[2016-05-04 16:36] elf-pavlik commented on #21
How do we use it in [Dental Care](https://github.com/valueflows/valueflows/blob/master/use-cases/dental-care.md) use case discussed in #14?

[2016-05-04 16:45] elf-pavlik opened #22 "define Claim"
similar to #21 based on https://github.com/valueflows/exchange/issues/14#issuecomment-216770713

[2016-05-04 17:53] bhaugen opened #23 "The evolution of intents to commitments to claims to economic events"
- I need something.
- I cast my need on the Web as an intent (a request for something).
- I receive an offer to provide something.
- The offer comes with a requirement for providing something else in return.
- We agree. The provider of something commits to transfer something to me, and I commit to transfer something else to them. A set of reciprocal commitments.
- I transfer something else to them

[2016-05-04 17:58] bhaugen commented on #21
This is a general statement about commitments and claims: the difference between commitment or claim and right is that a right is something you have now, as a result of an economic event that already happened, while a commitment or claim is an expectation of a transfer of rights in the future, rights that you do not have now.

[2016-05-04 18:53] elf-pavlik commented on #22
claims play role only in cases of exchange, never in just transfer scenarios ([gitter chat](https://gitter.im/valueflows?at=572a27926871c4a646c1bfa7))

[2016-05-04 18:57] elf-pavlik commented on #10
Since we talk about rights, commitments, claims how about `valueflows/agreement`?
i bet @gcassel would like it :wink:

everything here relates to sphere of our human perception, and especially man made concepts where we agree on something or not (claim, commitment, right), nothing happening directly in physical or virtual sphere (analogue/digital) but purely conceptual (mental) artifacts.

another

[2016-05-04 19:22] elf-pavlik opened #24 "define Warranty"
In recent conversations warranty occurred couple of times, it seems to fit this repo as one of agreements we make. We could add variant to personal computer use case which has warranty.

seeAlso: http://gs1.org/voc/WarrantyPromise

[2016-05-04 19:47] bhaugen commented on #24
Warranty seems like a great concept to delegate to some other vocab in detail (like some vocab that is working on contracts, there must be one...?), although it fits awkwardly into @gcassel 's agreements theme.

It's basically part of a contract, and a contract is a set of commitments. But if we get too deep into contracts, we will never get out. See http://research.microsoft.com/en-us/um/people/s

[2016-05-04 19:53] gcassel commented on #14
Some services create enduring resources which ought to have usage-rights associated with them, so that the intended recipient of those services feels secure about receiving (and maintaining access to) the resources they expect to get.  Other services, however, do not.

For instance, part of the service in a dental checkup will be the cleaning of teeth.  That's a process which is applied directly t

[2016-05-04 21:04] gcassel commented on #23
I'd prefer to redundantly keep on pointing out "transfer rights" at this time.  To me, it feels like a really important but slippery fact.

I think the described flow of events is quite sound.   Other things could happen serially or in parallel as well, such as open discussions /  "conversations for agreement" which lead to Offers.

[2016-05-04 21:07] gcassel commented on #21
++
A systematically valid commitment or claim is a _mutually recognized_  expectation / understanding

[2016-05-04 21:12] gcassel commented on #10
Good mind-reading Elf...

Actually my main personal uncertainty is whether to advocate _communication_ or _agreement_ as a core VF vocab.    I guess that _agreement_ is a more practical focus, more tightly integrated with all other economic network issues here  (resources, agents, processes).

[2016-05-04 21:16] gcassel commented on #10
^ on the other hand, it's not just about communicating for agreement IMO; it's also about **accounting** and data management.

For instance, one thing which struck me in McCarthy's (excellent) latest slides is that "Reality" isn't something we document... we deal with describing and accounting for perceived flows/events.

Accounting isn't technically a subclass of communication; it's something els

[2016-05-04 21:22] bhaugen commented on #21
Commitments must be mutually agreed. Claims arise situationally in a set of reciprocal commitments when one commitment is fulfilled. Explicit agreement is not necessary. Is that understandable?

If two people agree on a set of reciprocal commitments, it's a different situation if they both change their minds (cancel the agreement) than if one person fulfills their commitment. This is true in good

[2016-05-04 21:28] bhaugen commented on #10
I think that all of the social/organizational/governmental/communication vocab and protocols are important and connected to the economic and accounting ones. But I also think we should be minimal here and partner with for example the w3c social groups to handle as much as possible.

I think we should start with intents and conversations for action as a bridge between the social and economic domain

[2016-05-04 21:50] ahdinosaur commented on #10
@elf-pavlik i was confused why Commitment (#21) is here, for me [i've been](https://github.com/valueflows/valueflows/blob/intro/README.md) distinguishing between ["what an agent can _do_ with resources"](https://github.com/valueflows/valueflows/issues/103) (Transfer, Transform / Process, Transport) and ["what an agent can _say_ about what they can do with resources"](https://github.com/valueflows/

[2016-05-04 21:55] gcassel commented on #21
^   I was sloppy:  I meant that the validity of a claim must be implicitly present in the mutually agreed commitment which it derives from.  (Along with a lack of delivery, which can't precisely be proven, but that's life!)

[2016-05-04 22:01] ahdinosaur commented on #23
related to https://github.com/valueflows/valueflows/issues/104

[2016-05-04 22:18] bhaugen commented on #10
I like @ahdinosaur 's distinctions here, although I think the dimensions of conceptual and physical are also useful. Maybe we figure out a multi-dimensional chart? The rubik's cube of value flows?

[2016-05-04 22:19] bhaugen commented on #21
Agreed.

[2016-05-04 22:27] elf-pavlik commented on #10
@ahdinosaur I take some time to dive deeper into how I understand your thinking. So far I see our takes on it complementing one another :smiley:

[2016-05-04 22:29] ahdinosaur commented on #10
same, cheers.

[2016-05-04 22:35] elf-pavlik commented on #22
based on food networks case discussed in https://github.com/valueflows/resource/issues/14#issuecomment-217022939

When farmers 'sell' crops before they harvest them, they make commitment. When person who 'purchases' the crops makes reciprocal vf:Transfer, this commitment becomes a claim.

[2016-05-05 12:53] elf-pavlik commented on #12
How does our current definition of [vf:Transfer](https://github.com/valueflows/exchange/blob/master/Transfer.md) work with services? I created an issue [Product vs. Service ](https://github.com/valueflows/resource/issues/15), IMO our current definition relates more to the Product than to Service. In [Dental Care](https://github.com/valueflows/valueflows/blob/master/use-cases/dental-care.md) we hav

[2016-05-05 13:00] bhaugen commented on #12
@elf-pavlik great question! I will ask some of the REA gang and report back.

[2016-05-05 13:19] elf-pavlik commented on #14
@fosterlynn since we did 'cash payment', none vf:Transfer of MXN will have information about 'from stock' or 'to stock', just
- id: did:74088536-5a09-4117-bf5c-25bb38757f2e
- type: vf:Transfer
- from:
  - id: did:68aed952-05ee-433e-974b-e8713c163860
  - name: elf Pavlik
- to:
  - id: did:a5aec17e-ddfd-46c7-bb1a-001632f57852
  - name: Dr C
- rightsTo:
  - amount: 600
  - unit: MXN

Now we need reco

[2016-05-05 13:48] bhaugen commented on #14
From an observable behavior viewpoint, cash money works fine as a resource. "Legacy proofs of ownership rights" is the kind of theoretical argument about money that I would prefer to avoid.

[2016-05-05 14:14] elf-pavlik commented on #14
@bhaugen could you please propose in https://github.com/valueflows/currency/issues/1 a data structure to express cash payments from use case discussed here?

[2016-05-06 02:40] ahdinosaur opened #25 "payment method"
from https://github.com/elf-pavlik/currency/issues/3#issuecomment-217305124,

here's a dedicate issue regarding "payment method".

[2016-05-06 02:43] ahdinosaur opened #26 "representing Tax"
from https://github.com/elf-pavlik/currency/issues/3#issuecomment-217309374,

[2016-05-06 17:43] elf-pavlik commented on #25
Why do you see it as concern fitting `valuflows/exchanges'? It seems to me more as transportation of digital coins or transportation of analogue coins (or bills or cheques). IMO both seem a vf:Process.

Neither vf:Transfer nor vf:Exchange deal with physical or virtual location of resource, which rights to we vf:Transfer (vf:Exchange).

Just as vf:Exchange which involves rights to Cash or Credits i

[2016-05-06 21:07] elf-pavlik commented on #10
I think https://github.com/valueflows/intent/issues/5 supports considering `valueflows/intent` in context of `valueflows/exchange`. I start leaning toward proposed by @ahdinosaur
- `valueflows/signal` https://github.com/valueflows/valueflows/issues/104
- `valueflows/action` https://github.com/valueflows/valueflows/issues/104

But let's take little more time to think over those various dimensions w

[2016-05-08 00:31] danalexilewis commented on #24
@bhaugen I totally agree. Warranty/contract feels like information that needs to be attached to a resource and exchanged but does not need to be represented in the vf abstraction.

A lease may be another example of this - where say a car/house is leased long term. There would an exchange, but the resources would have conditional contracts with them.

[2016-05-08 14:05] elf-pavlik commented on #24
AFAIK warranty often includes a promise (vf:Claim ? #22 ) for repair service valid in certain period of time. I think we may want to represent those services as resources https://github.com/valueflows/resource/issues/15 and in transfer bundle them together with the Product.

Actually on Monday I might capture how it works in [Dental Care](https://github.com/valueflows/valueflows/blob/master/use-ca

[2016-05-09 01:47] bhaugen commented on #24
Warranty is a complex set of commitments (promises) and potential economic events. I'm just saying that some people we know and could connect to as needed are working seriously on that whole territory. And it's deep. So I'm happy to follow their lead for the time being.

[2016-05-09 04:50] ahdinosaur commented on #25
i understand payment to be a transfer of rights to the resources being used as payment, as opposed to the delivery of the resources being used as payment, but i do think your perspective on payment as a change in location of resources is interesting and keen to see it developed further.

[2016-05-09 14:42] elf-pavlik commented on #25
@ahdinosaur AFAIK in VF we don NOT have explicit _payment_, we use _reciprocal transfers_. What current e-commerce systems call _payment method_ relates a lot to how to **deliver** monetary currency.

Since ISO4217 monetary currencies as of today don't integrate nicely with The Web, so also not with valuflows, we have a mismatch and need for bridge to that legacy technology.

To my understanding I

[2016-05-09 15:32] bhaugen commented on #25
I think this is a non-problem that needs another event behavior specialization.

This is all money-of-account. A transaction takes place that deletes some numbers from one account and  adds some numbers to another account, maybe subtracting a transaction fee.

The recipient already has rights to their account. I think transfers of rights  only apply to certain types of resources. Will send my ques

[2016-05-09 15:57] elf-pavlik commented on #25
If you want to base vf:Transfer on accounts (or stocks in general), not directly on agents. We may need to define vf:Stock and ownership over it first.

In case where we go directly from: (agent) to: (agent), both agents can digitally sign the vf:Transfer and it acts as prove of ownership. In most cases we want to verify that from: (agent) actually has the ownership over resource which it transfer

[2016-05-09 16:16] bhaugen commented on #25
What we have done so far in NRP is name the economic event behavior differently when the behavior is in fact different: thus, so far,
- consume: decrements the resource,
- use: no effect on the resource,
- cite: no effect but the citers need to specify the value of the citation, which adds to the value of the cited resource,
- produce: increments the resource
- give: in VF would give rights,
- rec

[2016-05-09 17:58] elf-pavlik commented on #25
Once again, since we transfer rights to a resource and not relocate the actual resource, I don't understand need for splitting it into two different events. Maybe
- independent view - a _vf:Transfer_
- dependent view - give & receive but I don't know if we need to define them in vocabulary

_vf:Transportation_ might need Depart and Arrive event, but in case of transport we do describe what happens

[2016-05-09 18:19] elf-pavlik commented on #14
following my proposal in https://github.com/valueflows/valueflows/issues/122

[code]

if we need to capture delivery of that cash, we need additional data structures for it

[2016-05-12 18:58] bhaugen commented on #25
See also https://github.com/valueflows/valueflows/blob/master/use-cases/digital_currency.md

[2016-05-12 23:08] elf-pavlik opened #27 "agreement on delivery of transfered resource"
#25 mentions very specific type of delivery 'payment method' (usually digital). I think vf:Transfer (also used for vf:Exchange) needs a way to specify agreement on delivering the resource rights over we transfer.

Some examples from Open Food Network
- https://openfoodnetwork.org/user-guide/hubs-set-up-guide/shipping-methods/
  - https://openfoodnetwork.org/payment-methods/

[2016-05-12 23:17] bhaugen commented on #27
If you look at the Conversation for Action protocol, it covers agreements about whether the reciprocal flow has happened.
![cfa](https://github.com/valnet/exchange/raw/master/images/CfA_state_machine.png)

[2016-05-13 13:24] elf-pavlik commented on #27
The delivery vf:Transportation (process/action/event) happens independently of vf:Transfer (action/event) For example:
1. Amanda exchanged rights to 20kg of apples stored in her cellar with Sam for 20kg of mangos stored in his shed.
2. They **agreed** that Sam will take care of (responsibility for) both way delivery
3. Sam decided that he will ask Veronica to do both ways delivery as part of her b

[2016-05-13 13:31] bhaugen commented on #27
That's [FOB origin](http://www.transportationinsight.com/blog/2012/06/f-o-b-mean/).

[2016-05-13 13:41] elf-pavlik commented on #27
![fob-destination](https://cloud.githubusercontent.com/assets/876431/17540730/3ecaa708-5e7e-11e6-99b1-45b3276a409e.jpg)
![fob-origin](https://cloud.githubusercontent.com/assets/876431/17540731/3ed43462-5e7e-11e6-9fde-e3416d24e023.jpg)

those illustrations might overlay in interesting ways with

![transfer&transportation](https://docs.google.com/drawings/d/1KcajKeandUHrB3TINyjm3-IP8uGKTnxR66MFuBYjw

[2016-05-13 13:48] bhaugen commented on #27
Transportation will often involve an exchange of transportation service (Freight) for something. E.g. from that same reference:
- F.O.B. Origin, Freight Collect:
- F.O.B. Origin, Freight Prepaid:
- F.O.B. Destination, Freight Collect:
- F.O.B. Destination, Freight Prepaid:

[2016-05-13 13:51] bhaugen commented on #27
I think in most cases people want to see all the reciprocal commitments and events wrapped up in the same exchange, but the transportation process is usually the transportation provider's responsibility and is encapsulated in their context.

[2016-05-13 13:52] elf-pavlik commented on #27
Some transportation services work as gift http://sustainablepost.org/about-lightfoot
One could send a piece of jewellery as a gift using lightfoot. We have only vf:Transfer and vf:Transport but no vf:Exchange at all.
At the same time I agree that if we need to express vf:Exchange we need to capture all the specific commitments that agents care about and **agreed** on.

[2016-05-13 20:05] fosterlynn commented on #25
A couple reasons:
1. It is more consistent with process related events, which increment/decrement one resource, and I think involve one agent.  I think it would be good to have as consistent model for events across the vocabulary as possible.  (That's why I'm trying to nail Process first, it's much more concrete.)
2. You need 2 edges for creating graphs where you have value flows.
R > inflow > P >

[2016-05-13 20:21] bhaugen commented on #25
Also, if you looked at that faircoin use case, the give event is significantly different from the receive event:  the quantity is different (the network fee comes off the top), and the resource is different (one faircoin address vs another faircoin address).

This (the resource being different) will always be the case for stock resources, which are pretty much the same as @elf-pavlik 's indirectly

[2016-05-13 21:35] fosterlynn opened #28 "Recording a vf:Transfer vs vf:Transportation"
I want to dig into this some more.  (Sorry!)  I have been bothered by where this line is drawn, but haven't been able to put my finger on it.  Now it is starting to sort itself out in my mind.  :)

How about this way of looking at it?  There is a distinction between Transportation of a resource where it changes Location, and Recording of a Transfer.  It doesn't seem right to me that the recording

[2016-05-14 23:09] elf-pavlik commented on #28
1. How do you describe vf:Transfer of rights to currency deposited on particular bank account, which happens within that one bank account - use case [Currency exchange (ISO4217)](https://github.com/valueflows/valueflows/blob/master/use-cases/currency-exchange-iso4217.md)
2. How do you describe a bank transfer (not vf:Transfer) where agent moves currency credits between two bank accounts, both of t

[2016-05-15 13:06] fosterlynn commented on #28
Good use cases!

I think in this case, there would be 2 virtual accounts as part of each bank account (the underlying resource).  So there would be a vf:Transfer from Lynn to Sam for 100 USD, decreasing Lynn's virtual USD resource and increasing Sam's USD virtual resource.  And a vf:Transfer from Sam to Lynn decreasing Sam's virtual EUR resource and increasing Lynn's virtual EUR resource.

Even th

[2016-05-15 13:12] bhaugen commented on #28
I am rethinking this since my digital currency experience, and also thinking about wire transfers. A fee is charged in both cases, which is for handling the electronic transfer. It is more-or-less a transportation service, just with bits instead of vehicles.

[2016-05-15 14:49] elf-pavlik commented on #28
Currently I see it in similar way. Sometimes you also have additional shipping service involved eg. https://transferwise.com/ I wouldn't say that at any point in time they vf:own the money which they move through their worldwide accounts. Even that it stays deposited in between on bank accounts they 'legally' own.

In case of vf:Transfer of currency which doesn't change an account we can fully han

[2016-05-15 15:09] bhaugen commented on #28
We also need to think about environments with virtual accounts and moving money between virtual accounts, e,g, Sensorica and my.enspiral, for two. Enspiralites think of my.enspiral as their internal bank, and move money around at will. They are planning a redesign and re-implementation. @dan-mi-san is involved in that project, and also VF, bringing us RobinHood stories. I think that kind of thing

[2016-05-15 15:10] bhaugen commented on #28
P.S. those virtual account implementations have no service charge for transfers.

[2016-05-15 15:42] fosterlynn commented on #28
Yes the fee is interesting, and happens a lot.  Still seems like a vf:Transfer to me, from whichever party pays the fee to the servicer, or maybe maybe a second Receive on the same vf:Transfer, although I'm a bit nervous about that.

Vaguely.  I don't think even bits actually flow from one stock resource to another.  Two resources are just changed, which I'm trying to make a recording of a transfe

[2016-05-15 15:45] fosterlynn commented on #28
Right, my definition had nothing to do with the bank, they see no transfers from their perspective.  But Sam and Lynn clearly do keep track of who has which portion of the bank accounts they share.

[2016-05-15 16:00] bhaugen commented on #28
What happens in the case of a blockchain currency is that the blockchain validates and confirms the transaction: the fee goes to the agents who provide those services: for Bitcoin, the miners.

In bank wire transfers, it's a similar service, just not the same mechanism.

[2016-05-15 17:05] elf-pavlik commented on #28
So far we discussed vf:Service as **output** of vf:Process, now it looks that vf:Transfer also has outpus which may yield vf:Service.

We currently have vf:Transportation defined as subclass of vf:Process with two proposed events/flows specific to it: _pick-up_ (process inflow) & _drop-off_ (process outflow). This process has a specific purpose to **move** vf:Resource from one location (Stock?) to

[2016-05-15 17:22] bhaugen commented on #28
I think the service of validating and confirming money transfers is different enough from transportation to require its own analysis and maybe some different names. Pickup and dropoff don't seem to fit, for example, and the blockchains and clearing centers are not much like vehicles.

[2016-05-15 17:23] fosterlynn commented on #28
But Location is different than Resource.  Resource can be at a Location.  I don't see the bank account or virtual account as a Location, but rather a Resource.  I want to decrement one resource and increment another resource, and I don't care where they are located.  Is that transportation?

No, I was just taking it to its logical conclusion.  I don't want to have both a Transfer and a Process rep

[2016-05-15 18:03] elf-pavlik commented on #28
I really think we can't move further here before we make few PRs to `valueflows/resource` which define vf:Stock and possibly vf:CurrencyAccount.

If you see a bank account as a resource, do you transfer rights to that bank account or rights to the particular amount of currency stored/deposited on it? I think we always need to keep in mind those 4 cases ('transfer' != _vf:Transfer_ as currently def

[2016-05-17 02:36] ahdinosaur commented on #28
@fosterlynn thanks for saying what was on my mind as well. :smile:

@elf-pavlik what are we missing that requires yet more terms?

i probably am missing the gut of this discussion, but why not model a bank as being delegated control of all the resources within it (of resource type corresponding to the currency involved), then my bank account is the resources i have the 'rights' to but delegate to

[2016-05-17 13:14] coopchange commented on #28
Like @ahdinosaur I feel like I might be off track here (mostly as I don't know what's needed in terms of vf:Stock or vf:Account/Currency), and I see the bank as being an interface (intermediary/ tool) by which one does Transactions using whatever currencies/goods they have rights to in the bank.

Transfer makes more sense than Transportation, in a gut sense, and in terms of digital currencies

For

[2016-05-17 13:55] elf-pavlik commented on #22
Thinking about Claim vs. Commitment. It seems that Claim has aspect of **debt**, which changes "You have promised me 5kg of apples" (Commitment) into "You owe me 5kg of apples" (Claim)

[2016-05-17 17:10] bhaugen commented on #28
By the way, the underlying resource idea was my fault. We haven't implemented it in our own code yet. It arose from virtual accounts as in my.enspiral that are different peoples' sections of a real bank account, trying to figure out how to reconcile the two. The term comes from financial derivatives, which we all know sank the world economy in 2008, so I should probably be chastised for using it..

[2016-05-17 17:15] fosterlynn commented on #28
Hopefully our underlying resource won't be THAT underlying!  One level max where at least we can actually find the underlying resource somewhere.  :)

[2016-05-17 17:58] fosterlynn commented on #28
I see like a stock resource, and you can transfer rights to part of the stock (currency stored in it).

@ahdinosaur to clarify:  The bank account is an underlying resource to a virtual account, ala my.Enspiral.  Or not, if someone is not using virtual accounts with their bank account then they don't need the concept.

[2016-05-17 18:00] bhaugen commented on #28
But please think up a better name...assuming we need the concept. The future_my_enspiral and all of the other groups that use some form of virtual accounts need _something_.

[2016-05-17 23:15] ahdinosaur commented on #28
i don't mean to say `vf:underlyingResource` is a bad idea, in fact i've been super keen since it's been proposed because it is a solid attempt to handle the my.enspiral use case. my comment about is a new seemingly more simple idea, that i just came up with based on reading this thread, it might be better or worse i'm not sure.

[2016-05-17 23:55] bhaugen commented on #28
Um, yes?

You gonna keep us in suspense?

[2016-05-18 05:46] ahdinosaur commented on #28
- each fractal agents 'owns' resources, could be a group, person, or sub-agent account.
- "depositing" resources in a "bank" is transferring substitutable resources to a group (or group account) that you are a part of.
- "withdrawing" resources from a "bank" is a group (or group account) that you are a part of transferring substitutable resources to you.
- your "balance" is how much resources you'

[2016-05-18 06:54] ahdinosaur commented on #28
hmm, maybe the core of my suggestion is for an account to be a type of agent, as a delegated virtual agent, rather than a resource, where the virtual agent has a "delegatedAuthority" (or something) relationship within the real agent.

part of this thinking is related to [this Patchwork message](http://localhost:7777/#/msg/%25xKPuGx396IlsCM2YYKNc3jKpxqDw4TsQAb5x80WWCew%3D.sha256) (%xKPuGx396IlsCM2Y

[2016-05-18 13:53] elf-pavlik commented on #28
How do you see it relating to my comment here: https://github.com/valueflows/exchange/issues/6#issuecomment-214384889

[2016-05-18 16:12] fosterlynn opened #29 "Transfer of agent-resource-relationship"
From yesterday's walk'n'talk, this idea introduced by @bhaugen , who should feel free to add to or clarify anything here.

The idea is to encapsulate the rights and responsibilities concept in the agent-resource relationship.  For some cases, this is instead of a resource in its own right with an underlying resource.  Could reference any amount of formal definition, like a lease agreement or deed

[2016-05-18 21:33] fosterlynn commented on #28
This is actually true of any rea:EconomicResource, irrespective of its underlying-ness.  It can be derived from the sum total of the rea:EconomicEvents affecting it.  Bob says Bill McCarthy doesn't instantiate resources, just calculates them when you need them.  I think that for our purposes that is too pure, and doesn't scale, and am happy to have vocabulary that describes resources.  But hey.

[2016-05-18 23:32] ahdinosaur commented on #28
ah yeah, like that. :smile:

[2016-05-18 23:33] ahdinosaur commented on #6
just wondering, how would this approach handle multiple virtual accounts (checking, savings, etc) per agent within the same bank? since that's another use case here, but maybe could be solved as a tracking system rather than separate accounts.

[2016-05-18 23:42] fosterlynn commented on #6
I would think those are separate bank accounts, thus separate vf:Resources.  The resource of a bank account has an identifier of the account number, plus the bank I guess (like routing number).  So savings and checking different resources, and a virtual account would be a part of one of those.  Does that work for how Enspiral does it?

[2016-05-19 00:03] ahdinosaur commented on #6
in a very unimportant side-conversation, @agentlewis brought up the idea of having many virtual accounts for each agent, which still all are part of the same single bank account. but i think @elf-pavlik is right that virtual my.enspiral accounts underlying a single bank account is the same as many bank accounts underlying the actual resources (or lack thereof), so if the system can be fractal than

[2016-05-19 15:55] elf-pavlik commented on #6
I wonder about the use case for one agent having multiple 'virtual accounts' for monetary currency deposited on single bank account.

I also think we also need to first clarify [Recording a vf:Transfer vs vf:Transportation](https://github.com/valueflows/exchange/issues/28)

[2016-05-19 15:56] bhaugen commented on #6
Earmarked funds.

[2016-05-19 15:56] elf-pavlik commented on #28
IMO if we change ownership over monetary currency deposited on singe banking account. We have _vf:Transfer_. But as soon as we **move** currency between two different bank accounts, we need _vf:Transport_ to do that. Most of this issue relates to integration with 'legacy' (not WWW) system, For native VF (or WWW) monetary currency, one would never need _vf:Transport_. But if we want to treat legacy

[2016-05-19 15:59] elf-pavlik commented on #6
That sounds related to [hard vs soft allocation](hard vs soft allocations)

[2016-05-19 18:15] danalexilewis commented on #6
Is definitely one the use cases I was imagining.

Also being able to have distribution algorithms set up against specific virtual accounts would mean you could use them to manually distribute funds in a predefined way. Eg A revenue/profit share.

[2016-05-19 18:18] danalexilewis commented on #6
Ge realising that you can define money in and money out accounts. And associate an account with a type of activity. Eg expenses, product a income and product b income.

[2016-05-19 18:20] bhaugen commented on #6
We do that with [value equations in NRP](https://speakerdeck.com/mikorizal/10-nrp-value-equation-concepts-and-tutorial).

[2016-05-19 19:17] gcassel commented on #29
I don't have anything substantial to add now but I love this train of thought.

I suppose there's continuing doubt over whether this can apply to rights and responsibilities regarding currencies and services.  I don't perceive any fundamental obstacles, but I guess there will be more focused discussions on terms like money/currency and service.

[2016-05-20 01:09] elf-pavlik commented on #29
What about _shares_, if you consider 50kg of apples in a bin as as 'stock resource', person owning all 50kg of apples could transfer ownership to 10kg of apples to 3 different people (3kg each). This way that person will still own 20kg of apples in that bin.
- We could see it as 3 different 'stock resources' 20kg, 10kg, 10kg, 10kg
- We could see it as 1 'stock resource' with 4 shares 20kg, 10kg, 1

[2016-05-20 04:32] ahdinosaur commented on #28
i'm not sure i understand why we can't use vf:Transfer to move currency between two different bank accounts. there's no physical transport, it's a few bits changed here and a few bits changed there, no different from other vf:Transfer use cases in my opinion.

[2016-05-20 05:59] bhaugen commented on #28
In practical terms, to me, it depends on if the transfer includes a fee for doing so. E.g. bank wiretransfers (bank to bank, especially between countries) or blockchain transfers or paypal or credit cards. Different accounts in the same bank, or different virtual accounts in the same bank account, no.

[2016-05-20 15:07] elf-pavlik commented on #28
I think we should follow up on @fosterlynn [Transfer of agent-resource-relationship](https://github.com/valueflows/exchange/issues/29) first.
- _vf:Transfer_ - affects only relationship between agent and resource, doesn't affect resource itself in any way
- _vf:Process_ - affects only resources themselves, doesn't affect relationship of resources to agents in any way, _vf:Transfer_ related commitm

[2016-05-20 15:49] bhaugen commented on #28
All non-physical-commodity-based currencies I know of have that magic aspect. Debt creates more money in legal tender, same in mutual credit currencies. Blockchain currencies have miners or minters.

Might be some exceptions; I am not a student of the genre.

[2016-05-21 04:34] elf-pavlik commented on #28
I added two new use cases which we can include looking at this issue
- [Timebank](https://github.com/valueflows/valueflows/blob/master/use-cases/timebank.md)
- [Mutual Credit](https://github.com/valueflows/valueflows/blob/master/use-cases/mutual-credit.md)

AFAIK both systems usually don't charge fees for transferring currencies, maybe some annual service fees.

I think that we can define _vf:Tran

[2016-05-22 00:02] elf-pavlik commented on #21
I added [Exchange Chain](https://github.com/valueflows/valueflows/blob/master/use-cases/exchange-chain.md) to use cases (see also #19)

It looks like concept of _Claim_ may only apply to 1-on-1 exchanges. For multi party exchanges it seems that we only can track fulfilment of the particular commitment (by rea:EconomicEvent?)

[2016-05-22 00:37] bhaugen commented on #21
Consider a 3-party exchange: a supplier, a customer and a trucker. When the customer pays for a product from the supplier, or the supplier transfers a product to the customer, whichever rea:EconomicEvent happens first triggers a claim from the counterparty.

Likewise if the trucker delivers the product first, the trucker has a claim against whoever agreed to pay for shipping. Of if one of the part

[2016-05-22 01:18] elf-pavlik commented on #21
Have you looked at [Exchange Chain](https://github.com/valueflows/valueflows/blob/master/use-cases/exchange-chain.md) use case? I think you discuss 3 agents having **two independent 1-on-1 exchanges**. Use case which I created illustrates a chain of transfers between 4 agents (or at least 3 as variant note suggests, it may differ when delivery arrangements come into play #27 ). In described case w

[2016-05-22 02:22] elf-pavlik commented on #21
YAML snippet provided by @ahdinosaur in https://github.com/valueflows/valueflows/pull/115#issuecomment-220808238

I think it needs two instances of _vf:Transfer_ and somehow express dependency between them. Since we talk about commitments we should also use separate namespaces for different agents to not get impression of working with a centralized data silo.

Trying to make minimal changes:

[cod

[2016-05-22 09:57] bhaugen commented on #21
@elf-pavlik wrote upthread:

Agreed. Your addendum "Food Coop commits 1 box to Sofia and she transfers this commitment to Maria" makes the claim of Sofia to 1 box from Food Coop a lot more clear.

But these chains are really interesting in terms of mutual coordination economics.

[2016-05-22 13:21] elf-pavlik commented on #21
Do you notice that at stage where Beto already taught percussion to Sofia but she haven't helped in FoodCoop with distribution yet, Beto has **no claims** even that he already fulfilled his promise from the commitment.

[2016-05-22 13:42] bhaugen commented on #21
I think I need a diagram.

![exchange chain](https://cloud.githubusercontent.com/assets/117439/15454236/5ca995e6-1ff8-11e6-91e0-83c3cc780959.png)

If this were a mutual credit network, Beto would have received mutual credit hours from Sofia for teaching percussion, and could have exchanged those with the Food Coop for his box of vegetables.

(I know, the use case was not a mutual credit system, bu

[2016-05-22 13:59] elf-pavlik commented on #21
What kind of claim? "Please go help in a food coop as you promised so that I can get a box of mixed vegetables". Sofia doesn't promise anything she could offer directly to Beto, in her commitment she makes promise to Food Coop which in turn makes promise to Beto. So we can have promises fulfilled by events, promises not fulfilled (yet) but often we will have no claims.

[2016-05-22 14:07] bhaugen commented on #21
I misread the use case. Missed that those were commitments, not events.

[2016-05-22 15:01] elf-pavlik commented on #22
If we have situation with a claim for particular resource, for example a bicycle which we can identify with an IRI. I don't see clear difference between having a Claim and having ownership rights over that bike. It seems that once we have a Claim in place it can automatically turn into ownership rights. Once again physical location of the bike doesn't matter, it can for example always stay parked

[2016-05-22 15:17] bhaugen commented on #22
That, I think, is the position of Pavel Hruby and Christian Scheller in this email thread:

From me to Pavel:

From Pavel to me:

[2016-05-22 16:01] elf-pavlik commented on #23
Whenever we have IRI (in snippets I use [CURIE](https://www.w3.org/TR/curie/)) as value of property _vf:foo_ (any property other than `@id`), we can take the whole object which has same IRI as its `@id` and nest it as value of _vf:foo_ instead of that IRI. Those IRIs act as references!

[code]

[code]

[code]

[code]

[code]

**TODO**
- agent relationships which show that `sally:identity` and `dan

[2016-05-22 16:29] elf-pavlik commented on #23
[code]

[code]

**TODO**
- agreements on delivery (_vf:Transportation_), so far the actual apples and oats haven't moved even an inch

[2016-05-28 18:11] dahacouk commented on #13
Please assign to @dahacouk

[2016-05-28 19:48] bhaugen commented on #13
@dahacouk thanks - sent invitation to be VF member, then you or me or somebody can assign you to this issue.

Which should move it forward...maybe you and @gcassel can discuss.

[2016-06-02 01:23] elf-pavlik commented on #27
Maybe agreement can in simplest case just specify that someone promises (makes commitment) to pick up the resource from somewhere or drop it off to somewhere? I shouldn't matter If an agent does the transportation oneself or delegates it to 3-rd party.

[2016-06-02 06:18] bshambaugh commented on #27
The third party would represent an interaction with another agent, but it
may not be important to the interaction with the first two agents.

-Brent Shambaugh

Website: bshambaugh.org

On Wed, Jun 1, 2016 at 9:23 PM, elf Pavlik notifications@github.com wrote:

[2016-06-02 06:19] bshambaugh commented on #27
At the same time I agree that if we need to express vf:Exchange we need to
capture all the specific commitments that agents care about and _agreed_
on.       <<---out of the loop a bit, but this sounds like a tall order

-Brent Shambaugh

Website: bshambaugh.org

On Thu, Jun 2, 2016 at 2:18 AM, Brent Shambaugh brent.shambaugh@gmail.com
wrote:

[2016-06-02 07:17] bhaugen commented on #27
If the agents involved execute a defined protocol (e.g. conversation for action, CfA, as in the diagram above), it's not very tall. One of our jobs in VF will be to specify that and possibly some other protocols in enough detail to be implementable. CfA has been implemented many times, and is already fairly well specified.

[2016-07-15 13:27] tanius commented on #19
Mmh I don't think chains of exchanges are a valuable concept, since:
- If the exchanges happen one after the other and independently of each other, they can be modelled as individual exchanges.
- If the exchanges happen at the same time and conditional on each other, they always form a loop, or a network of loops, because the "intermediate owners" of exchanged items do not have to be considered.

[2016-07-15 15:34] fosterlynn commented on #19
Thanks @tanius !

I think we'll need to wait for @elf-pavlik to return so he can clarify what he was most interested in and respond to your comment.

In terms of format, we are flexible.  What has been useful is to document the lowest level economic steps or occurrences.  Hmmm I found an "exchange chain" one by Pavlik here: https://github.com/valueflows/valueflows/blob/master/use-cases/exchange-ch

[2016-08-04 15:24] elf-pavlik commented on #19
Hi @tanius

Not a case here! I look at exchanges which depend on one another.

I would say that the agreement on particular chain of exchanges happens first - all parties confirm that they agree on a particular chain. Then one could say that resources already in 'legal' terms changed ownership and they just need delivery, one could also say that now each 'legal' owner has a _claim_ for the item st

[2016-08-09 15:32] elf-pavlik commented on #27
from: http://schema.org/DeliveryMethod

-    http://purl.org/goodrelations/v1#DeliveryModeDirectDownload
-    http://purl.org/goodrelations/v1#DeliveryModeFreight
-    http://purl.org/goodrelations/v1#DeliveryModeMail
-    http://purl.org/goodrelations/v1#DeliveryModeOwnFleet
-    http://purl.org/goodrelations/v1#DeliveryModePickUp
-    http://purl.org/goodrelations/v1#DHL
-    http://purl.org/goo

[2016-08-10 03:21] elf-pavlik commented on #28
I think we agreed that material goods, which require transportation, can NOT move between locations with just _vf:Transfer_. Thinking around [FOB](http://www.transportationinsight.com/blog/industry-news/2012/06/f-o-b-mean/) (origin/destination)
![15 1-fob-shipping-point-destination](https://cloud.githubusercontent.com/assets/876431/17540710/0c94a022-5e7e-11e6-9cf9-dbf134cc70fc.gif)

With FOB and t

[2016-08-10 03:40] elf-pavlik commented on #29
I don't think resource can change 'during transfer', if it does we end up with something very blurry. If we describe transfer of ownership, we should clearly specify a resource - serial one, actual stock or virtual share of it. It doesn't increment or decrement that resource. I think only processes should affect actual resources and stocks - including splitting and merging stock operations (often

[2016-08-10 14:30] fosterlynn commented on #29
I understand you in principle and agree on some conceptual level.  As to how transfers fits resources into flows of value, and how we want to define vf:Resource, I am much less clear.  In practice, the coordinating agent or context agent, or some agent,  needs to be part of the equation.  I am working on getting my head into a community economy situation to see if that changes how we think about i

[2016-08-10 15:21] elf-pavlik commented on #29
Looking at resources tracked as 'serial', with distinct serial or tracking numbers. Let's say a device model Fairphone2. The serial number stays the same, no matter who owns the device and where it stays located. We do need to address topic of using IRIs in namespace of domains in control of different agents. I'll try to add to https://github.com/valueflows/resource/issues/13 some thoughts about t

[2016-08-10 15:29] fosterlynn commented on #28
All of that makes sense....

[2016-08-10 16:24] fosterlynn opened #30 "Use case: vendor managed inventory"
Creating this to specifically look at how a vf:Transfer of a resource that is not serialized or identified in any way that people care about could work. We agree that if a UUID or some unique identifier can be created, then resources can be tracked through a vf:Transfer, even if the @id changes.  We are discussing how this might work if there is no logical or agreed upon unique identifer to a reso

[2016-08-10 21:08] gcassel commented on #28
All of that makes sense to me too. :)

[2016-08-10 21:12] fosterlynn commented on #28
Here is a yaml example, starting with @elf-pavlik 's simplified bike transportation example from here, https://github.com/valueflows/process/issues/21#issuecomment-238098269.  Simplified to less bikes, got rid of the containers (I think it would work fine with containers too).
- There is a transfer FOB destination, when the vf:unload triggers a transfer.
- The service can be transferred immediatel

[2016-08-10 22:13] elf-pavlik commented on #28
Thank you @fosterlynn, could you quickly add version where _vf:Transfer_ happens before or after _vf:Transport_? So we don't have transport here but just change of 'Custodian' relationship for `https://coride.example/inventory/0030b345-c9f9-4e3a-a5a6-b45a8137aa05#resource'. If you prefer we can work on that version which doesn't involve transport in https://github.com/valueflows/exchange/issues/29

[2016-08-11 02:27] elf-pavlik commented on #28
Payment for service looks like moving a resource between two stocks at the same location. I think for that we can define split/merge 'stock operations' as I suggested in https://github.com/valueflows/resource/issues/44

I also don't think such stock operations need _give_ and _receive_, generic _vf:outflow_ and _vf:inflow_ should work. Actually I wrote snippets for such cases in https://github.com

[2016-08-11 12:10] fosterlynn commented on #28
Basically.  I'm trying to come up with something that is a process event (since you won't allow it to be a transfer :sweat_smile:  ) that is less than vf:Transportation vf:load and vf:unload because there really isn't any transportation that is meaningful.  So in this example, the person probably just picked out some apples from their storage place, put them in a bag, and handed it to the other pe

[2016-08-11 12:13] bhaugen commented on #28
That is the main purpose of event types: to define that logic once. Otherwise it gets spread out all over the place, inconsistently.

[2016-08-11 12:15] fosterlynn commented on #28
I'd be open to thinking about vf:Transfer as a subclass of vf:Process, along  with vf:Transformation and vf:Transportation.  Then just not use the "transfer" term when talking about changing resource-agent-relationships of ownership etc.  Although I don't know what we could use, maybe something about rights?

Thinking out loud, not proposing....

We probably need to try a use case where the resour

[2016-08-11 12:20] fosterlynn commented on #28
It would be something like change of physical possession but not change in any rights (or location).  Transportation would be driven by change in location (also could involve change of possession, or not).

[2016-08-11 14:17] elf-pavlik commented on #28
👎
- vf:Process deals only with resources and locations, having nothing to do with 'rights' over resources or resource <-> agent relationships
- vf:Transfer deals only with resource <-> agent relationships, having nothing to do with incrementing or decrementing actual ('underlying') resource/stock or locations.

I find this distinction very important. Otherwise we don't distinguish resources from r

[2016-08-11 14:28] fosterlynn commented on #28
I was making a new kind of vf:Transfer that does not change any rights (changing the definition), when I suggested making it a process.  I was making something where the resource could change physical possession, which affects availability and coordination, not rights at all.  To change rights, we would have to trigger another event that does that.

I guess the term Transfer is too hard to move ov

[2016-08-11 15:00] fosterlynn commented on #28
^ further clarification:  This would not change any agent-resource relationships, just have a fromAgent and a toAgent in the event to denote the change of physical possession.  We could save agent-resource relationships for all the rights related stuff.

[2016-08-11 15:00] gcassel commented on #28
I guess we have to separate the concept of rights from the concept of responsibility-- because if you're in possession  (like a delivery driver) you are responsible for a resource, but don't have use-rights.

In theory, I guess that vf:Transfer should be able to apply separately to any specific rights or responsibilities associated with a specific resource.   For instance,  transferring the respon

[2016-08-11 15:04] fosterlynn commented on #28
@gcassel that is interesting, yes it starts to get fuzzier with responsibility.  And both could get detailed in an agreement.  I tend to think that possession should not be equated with responsibility, although they will track quite a bit in common sense practice.

[2016-08-11 16:00] elf-pavlik commented on #28
I understand that resource doesn't change location and we don't try to 'bind' location of a resource to location of an agent (issue for that https://github.com/valueflows/resource/issues/35). So it seems to me that we only change resource <-> agent relationship

If the resource doesn't change its location, the 'possession' seems like some kind of right. Also transfer in the 'Payment' seems to tran

[2016-08-11 16:35] fosterlynn commented on #28
My vf:Transfer as subclass of vf:Process thought isn't in any yaml, the thought occurred to me after I did all the yaml yesterday.

If we consider possession as a kind of right, how do we model the physical handing over of a resource that doesn't involve vf:Transportation?  When I made transfer events dependent on and triggered by process related events only, I needed some kind of process and even

[2016-08-11 17:50] gcassel commented on #28
Maybe I seem too generic and reductive here (?) but I think vf:Transfer makes sense as the generic _process-type_ which moves/"transports" _intentionally scarce virtual resources_ from agent(s) to agent(s)-- and I think that "virtual resources" here can refer to any sort of digital media  (e.g., file transfer), digital currencies (e.g., moving X dollars from one digital account to another), and de

[2016-08-11 17:55] gcassel commented on #28
I certainly agree that possession should not universally be equated with responsibility, @fosterlynn .  On the other hand, is there any reason for formally tracking possession _other than_ determining one or more responsibilities...?     (I think that we can and often should _not bother to_ document possession.)

I guess what I'm really talking about is _custodianship_?

[2016-08-11 18:18] gcassel opened #31 "Custody of resources (especially during transfers and transportation)"
How about we generally assume (without bothering to document) that vf:Owner has _custody_ of a resource, unless custody is formally delegated to someone else?

(For instance, an Owner giving custody of a resource to a delivery service, and then transferring ownership to a new owner/ buyer upon the signing of a receipt of delivery-- implicitly terminating the temporary custody of the delivery servi

[2016-08-11 18:20] gcassel commented on #28
^ made a new issue regarding custody/ custodianship:  https://github.com/valueflows/exchange/issues/31

[2016-08-11 20:30] fosterlynn commented on #28
I update the yaml above https://github.com/valueflows/exchange/issues/28#issuecomment-239006209 per the gitter chat between me and @elf-pavlik .

Note: We're still playing with a lot of the naming.....

[2016-08-11 21:10] bhaugen commented on #31
I think that is generally true, but we have been trying to move away from mandating the concept of ownership as we have moved away from mandating a lot of business-as-usual practices. So I like the idea of custody (or some better word that denotes a set of rights and responsibilities) as one possible substitute. I think many resources need somebody to be responsible for them.

I also think, @gcass

[2016-08-11 22:43] gcassel commented on #31
I definitely don't like mandating the concept of ownership, either, @bhaugen --   I was reacting to others' use of the term vf:Owner.   I think it would make sense to allow agents to designate any combinations of rights and responsibilities that they wish to assign to resources.

You could be right too that this should all be related to formal agreements, and not part of VF per se.   It seems quit

[2016-08-11 22:47] bhaugen commented on #31
I figured you didn't, but since all this chatter is "on the record", and we have had increased incidents of arguments in which some variation on "legal" appeared, I wanted to pop in for a bit.

But yeah, whatever agreements people want to make.

[2016-08-19 22:16] elf-pavlik commented on #29
I thought how this could work with _vf:ServiceResource_. I see two main relationships between _vf:ServiceResource_ and _foaf:Agent_: _provider_ and _recipient_. Let's stay we start with planned service:

[code]

Now we can transfer agent <-> resource _vf:recipient_ relationship to fablab. Until process creating that resource will execute the quantity will stay 0. Which doesn't affect whatever acco

[2016-08-22 12:56] elf-pavlik commented on #29
Thinking about _vf:Transfer_ of _vf:ServiceResource_, _vf:UsageResource_ and _vf:WorkResource_ captured in previous comment. I seems that _vf:Transfer_ just creates a _commitment_ #21

Just as agent can transfer 'ownership' relation over material resource to someone else, while still having it in one's own possession. One can transfer 'recipient' (or 'beneficiary') relation to planned 'service', '

[2016-08-22 18:12] fosterlynn commented on #29
I don't think so.  And I'd like to have a much more in depth discussion on how we record commitments, I would do it different than the suggestions above.  (Don't want to get into that so much now, because it is out of scope for our first release, no?  And requires too much thought in that case. :blush:  )

But for now, I see that a vf:Transfer can create conditions that some other input to a proce

[2016-08-22 18:48] elf-pavlik commented on #29
I would say that agents can only communicate, negotiate and decide stuff. To do something, something that actually affects resources we need a process. So agents can not consume and create stuff, only the processes they control/govern can consume and create (or accept and improve) resources.

At the same time I stay open that a single entity can have aspect of agent and aspect of process, so: `"@t

[2016-08-22 19:33] fosterlynn commented on #29
OK, that sounds good as a bottom line, as long as you mean process events.  (The finer points of agency are probably a different discussion.)

[2016-12-04 17:18] fosterlynn opened #32 "Modeling exchanges using claims"
I'm starting a new issue for this, although I see several I could just add on to.  So here are some references: #29 #22 #19 #17 #16 #9 as well as https://github.com/valueflows/valueflows/issues/165 which triggered some of the recent gitter chat and my renewed interest in getting concepts around "transfer" nailed down sooner than later.

I've thought for a while that the Transfers within an Exchang

[2016-12-04 18:25] elf-pavlik commented on #32
I find this direction you explore interesting and I look forward to your further investigations!

I miss here **agreements**. Looking at first diagram, pretty much just 1 & 2
![NRP](https://cloud.githubusercontent.com/assets/3776081/20867699/26647656-ba10-11e6-8b6a-69f637194650.png)

I understand that Claim 1. came as a result of prior agreement: "Donald agrees to do 3 hours of particular work in

[2016-12-04 19:27] fosterlynn commented on #32
It would be good to get agreements into the model.  To your point, there is no claim until the observation layer.

Actually, in Sensorica it is much less direct.  In 1. Donald did 3 hours of work that contributed to some product that may (or may not) get sold.  In 2. Lucy contributed $20 to the same product, maybe to buy a component.

That is not to say there aren't agreements.  In this case, the

[2016-12-04 19:31] fosterlynn commented on #32
I think that is right.  This just connects different IPO chains together because an exchange or reciprocity came into play somewhere in the separate flows.

Yes, like sometimes people are required to put half down, or whatever.  Sometimes very complicated stuff, like how to repay a mortgage.

[2016-12-04 22:46] fosterlynn commented on #32
Well, I may have been premature in ditching Exchange.  From @elf-pavlik comments, it was clear we need to not ignore the other layers, although not all agreements are explicit on those layers.

Here is another *very early* attempt to think about it.  Won't know how much of this is right until I do some detailing out - I'm suspicious I may have fudged a bit - maybe some YAML is in the cards.

![exc

[2016-12-07 00:02] fosterlynn commented on #29
I would like to re-think this and move away from agent-resource relationships as relates to transfers.  In the #32 issue, I haven't yet used any transfers in the examples, just issue-receive processes, which are almost a transfer, but have some aspect of a process.  I was toying with getting rid of transfer all together.

But I do think there is a valuable conceptual difference between a process a

[2016-12-07 00:13] gcassel commented on #29
I'm not sure what's happened in your recent discussions, @fosterlynn , but I continue to think that *transfer* is the most obvious and proper term to indicate the movement of exclusive resource rights (of any sort; use, control, ownership) from one agent to another.   Am I missing something?

[2016-12-07 00:18] elf-pavlik commented on #29
@fosterlynn while we looked at possibility of creating 'logical partitions' on resources so that each resource (actually each logical partition) has always one and only one owner. We noticed that it most likely will not work for many kinds of agent <-> resource relationships which change independently.

How do we model case where resource with *ownership* relation to Alice, changes *stewardship* r

[2016-12-07 00:20] gcassel commented on #29
Exclusive rights to any kind of resource is an artifice, a convention; a social construction.   *Transfer* is a term which can indicate formal agreements of when those constructs have moved between agents.

"Give" and "receive" may apply to physical possession (and responsibility for safekeeping) without having anything to do with exclusive rights to use, modify, or sell etcetera.

[2016-12-07 15:09] fosterlynn commented on #29
@gcassel @elf-pavlik thanks for the quick push-back.  :)

Yes I agree.  The question is how to model it.  Right now I am liking rights as a resource itself, often with underlying resource.  And some reference to more detailed agreements, as in your "formal agreements", which can cover more than agent-resource relationships can.

Good question.  Today I will try out some scenarios to see what devil

[2016-12-07 15:43] fosterlynn commented on #29
Just read this again.... @gcassel interesting you include "use".  Do you see necessity for a transfer when someone uses someone else's resource?  I can see it in rental, where there is a specific transfer of rights, but in say Sensorica, where tools are lying around for people to use based on a larger ongoing agreement, they record the use event but not anything else.  There might be an implied tr

[2016-12-07 17:12] elf-pavlik commented on #29
Let's use an example of bicycle:
1. Alice *owns* a particular bicycle (it has QR code on it with IRI that identifies it)
2. She leaves for a year to another continent and asks Bob to act as steward of this bicycle and let people requests its use via portals like http://www.cycle.land , http://www.bikesurf.org/ etc.
3. During one of following weeks, Sandy visits the town and Bob gives him Alice's b

[2016-12-07 17:12] fosterlynn commented on #32
A brief picture of apartment rental, this one needs some yaml.  This could also be done some different ways (all valid), but this seems like one way.

![c-ce-rent](https://cloud.githubusercontent.com/assets/3776081/20978251/cc5f7a60-bc6d-11e6-81e0-0769985262bc.png)

[2016-12-07 17:34] elf-pavlik commented on #32
What do you think about

### Agreement (based on Plan)
Monthly 'exchange template' - repeat until *agreement end date*

1. Commitment - Bob *use* the flat for duration of the whole month (continuous)
2. Commitment - Alice *receive* $500 on bank account nr 21942892

### Observation

1. Event - Bob *use* the flat .... fulfills Commitment 1 and turns Commitment 2 into a (Claim #22)
2. Event - Alice *

[2016-12-07 20:54] fosterlynn commented on #29
Here is snippets of how it could look without requiring agent-resource relationship.

[code]
[code]
[code]

[2016-12-07 22:06] fosterlynn commented on #29
Here is a yaml example for transferring a piece of a "logical partition" of a material resource.
#### resources before
[code]
[code]
[code]
[code]
#### Transfer
[code]
#### changed resources
[code]
[code]

[2016-12-07 22:43] elf-pavlik commented on #29
It seems that in your examples, for each kind of relationship one need to have two distinct actions. If you use *give* and *take* for stewardship, how does the system recognize it as different from changing ownership?

[2016-12-08 00:38] gcassel commented on #29
Short answer: *no*, certainly not in many or most cases.   (Although, tangentially, 'rental' is often used as a derogatory term in 'commons' culture.)

@fosterlynn I think that "rights" (or a synonym) is the most broadly useful term in this area of social relationships.   As I wrote earlier, **all exclusive resource rights (and restrictions) are artificial**.   This includes the idea of ownership,

[2016-12-08 10:18] bhaugen commented on #29
Elinor Ostrom found that successful commons always had a community behind them with some clear governance. So common resources will require some people to be responsible for them, although "the community" "owns" them. And you might need to get permission from a responsible person to use a common resource.

In other words, I think responsibility and usage rights will survive into a non-capitalist e

[2016-12-08 16:07] fosterlynn commented on #32
How does it do that?  Certainly more than one event could fulfil a commitment..... do you see it working the other way too?

I think that "commitment becomes a claim" can be true, but is somewhat misleading.  The specific trigger for something to become a claim is an event.  That event could have a commitment or not.  And if it has a commitment, it could be different than the commitment.  @bhaugen

[2016-12-08 16:09] fosterlynn commented on #32
I would like to propose we change the name of "Claim" to something less legalistic sounding.

Suggest "Reciprocity"?

[2016-12-08 16:43] bhaugen commented on #32
All of these event relationships are working off what Bill McCarthy calls Duality, which can be oversimplified into "why did you do that" economic event?

I know @elf-pavlik does not care about the legality of contracts, but they are derived from common law, which is some kind of summary of human economic experience. I wouldn't take it as gospel, but that's where the word "claim" comes from. And I

[2016-12-08 17:20] elf-pavlik commented on #32
Or simply say thank you in appreciation to driver's kindness knowing that very likely you will never meet that person again and can't return the favor but only "pay it forward", like in hitchhiking. [edit] I used to hitchhike *a lot*, and quite often drivers were referencing kindness of other drivers when they were hitchhiking 20 or 30 years earlier - "pay it forward" in action.

When some kind of

[2016-12-08 17:27] bhaugen commented on #32
@elf-pavlik I agree with all of that. I also agree with another idea that I think you posted somewhere in VF about reciprocity chains or cycles. Our first economic network software experiment was for a timber network in Wisconsin, and for that one, we summarized all of the economic events from time to time and figured out who owned whom how much for what. Not exactly as flexible an idea as what yo

[2016-12-08 17:27] elf-pavlik commented on #29
We could try to write YAML exmample for transferable quotas for usage (time based resource). Actually we can do it for the very same 3d printer which you wrote *ownership* shares for (as proposed in https://github.com/valueflows/resource/issues/51#issuecomment-239972811 )

[2016-12-08 17:40] fosterlynn commented on #32
One thing to be worked out in that scenario is to try to get things into some at least roughly same unit of measure.  Otherwise it will be lists, not summarized data.

[2016-12-08 17:55] bhaugen commented on #32
Here is one idea of how to do so. I'm not saying it is the correct idea, just an example:
https://netplanetaryvalue.wordpress.com/

Timebanks value everything in hours of work, so if you followed that idea, you would need to convert e.g. some carrots into equivalent hours of work. This is also the Labor Theory of Value, which uses the concept of socially necessary labor time, to avoid the situatio

[2016-12-08 18:22] elf-pavlik commented on #32
I would like to not make any assumptions when logging data of how different agents may want to use it to develop their perception of 'valuing'. This way, different agents running analysis on the same dataset can use different models to do their evaluations and focus on different metrics. Some will put emphasis on how human labor adds up in process of transforming natural resources into consumable

[2016-12-08 18:31] bhaugen commented on #32
I think we have all agreed on this principle from the beginning. Does anybody disagree? Or, has anybody here disagreed?

For example, @fosterlynn and I came into VF having the experience of value equations, which are defined by a project to value peoples' contributions. And the same project can have many value equations, each of which can value the contributions differently. So, while we are not a

[2016-12-08 21:03] gcassel commented on #32
I don't have time to read or respond thoroughly right now, but I like the general flow of discussion here.  I really like the term "claim" as an indication of an agent's official description of an action or event.   By "official" here, I mean official in the context of a specific group agent or context agent.   I use the term "claim" as an auxiliary to the term "report" in Agreement-Based Organiza

[2016-12-08 21:21] fosterlynn commented on #32
@gcassel thanks.  However, I think your definition of claim here is different that the one I started with (and suggest changing) here.  An official description of an action or event - like claiming something happened.  Vs I was using it as a claim for economic reciprocity from some other agent based on an economic event from me.  If I ship something to you (which you ordered), I have a claim for a

[2016-12-08 21:49] gcassel commented on #32
Good point @fosterlynn , and if others here think that it's important or valuable to use "claim" in that way, it's certainly okay with me.   I can't think of any obvious replacement terms right now.

You're talking about situations where an agent formally requests (or demands?) that another agent fulfill responsibilities or (usually) *commitments*, right?

I think we're talking about "reciprocal u

[2016-12-08 22:19] fosterlynn commented on #29
Well, could be through different event templates.  Or could be be referencing the agreement, which would have those details.  @elf-pavlik do you like either of those options?

[2016-12-08 22:40] elf-pavlik commented on #29
In snippets that I wrote, we can see clearly
1) rights to which resource
2) which kind of rights
3) from who to who

[code]
[code]

In your version:
1) We can see action but it doesn't make clear if it affects *ownership*, *stewardship*
2) We don't know what it means if transfer has give referencing resource A and take referencing resource B - if they can't differ why do we need two references?
3)

[2016-12-09 14:56] fosterlynn commented on #32
Here is a simple attempt.  The tricky part is agreeing how to make it equivalent.

![c-ce-svc-svc](https://cloud.githubusercontent.com/assets/3776081/21053042/4c6b18a6-bded-11e6-8e88-35a42f590eb8.png)

[2016-12-09 15:16] gcassel commented on #29
I entirely agree @bhaugen .   I'm concerned with making implicit understandings about rights and responsibilities as clear and fair as possible, especially whenever persistent conflicts emerge.

[2016-12-09 15:44] bhaugen commented on #29
What I'd like to do with that set of ideas is explore whether responsibility is the replacement for ownership in a commons-based economy. See https://github.com/valueflows/valueflows/issues/121
@ChristianSi does that seem wrong in any way?

[2016-12-09 17:28] fosterlynn commented on #32
Thought I better start doing some YAML on this idea, to discover the devils.  :blush:   Since I was already in the middle of [this](https://github.com/valueflows/exchange/issues/29#issuecomment-265588397), I'll borrow it and complete for claim stuff.  I made the transfers into issue-receive processes to not get this issue confused with that one. (Although they are connected, I'd like to work over

[2016-12-09 19:01] elf-pavlik commented on #32
I find it confusing that everything has unit:CAD, for shares of 3d printer i would expect that they use some unit that add up to 100%

I wouldn't say '$200 worth of shares', Ahmed agreed to exchange some % of 3d printer shares for $200, someone else could agree to exchange the same % for $500 and yet someone else the same % for a 20kg of peanuts and another person same 20% for 100% shares of a par

[2016-12-09 21:46] fosterlynn commented on #32
Yes that is confusing. Although I think it could be true. That's why I used different numbers to highlight the issue.  But perhaps a bad example, and maybe better to say 200 shares, and have agreement that 1 share = 1 CAD.  I don't think % would work for them very well because they get paid back gradually and it would involve a bunch of unnecessary calculations.

This use case is true, but they do

[2016-12-10 00:14] elf-pavlik commented on #32
![](https://cloud.githubusercontent.com/assets/3776081/21053042/4c6b18a6-bded-11e6-8e88-35a42f590eb8.png)

I don't see need here to consider any kind of *equivalency*, both events just need to fulfill the agreement.

[2016-12-10 00:48] bhaugen commented on #32
Equivalency is this historical problem with human economic relationships that gave rise to currencies as universal equivalents. So it's all fine for the individuals involved if you stick to explicitly defining equivalent use values in every exchange, but that gets tedious, and runs into problems in any larger context than those two agents.

[2016-12-10 01:28] fosterlynn commented on #32
By the way, I don't see this claim structure (or whatever we come up with to document how exchanges are realized) as required.  If 2 agents plan and make a trade and everyone is happy, good enough.

But if you do want to keep track of all of that, the claim needs to go to zero, or it is still a claim.

[2016-12-12 16:03] gcassel commented on #29
I think we're mostly in sync here, including your holistic (may I use that term?) conception of a 'bus service'.   Each participant *role*, including something as simple as 'using a service', has different *responsibilities*.

What I'm currently wondering, @bhaugen , is if you're thinking that the term "responsibilities" could work as an umbrella which implicitly includes the concept of "rights"?

[2016-12-12 16:07] gcassel commented on #29
^  also, it seems entirely possible right now that the term *responsibility* could replace the term *role* in Agreement-Based Organization.

[2016-12-12 17:48] bhaugen commented on #29
I think rights and responsibilities go together. If you have the right to use something, you have a responsibility to maintain it in good condition.

[2016-12-12 17:54] elf-pavlik commented on #29
I know that you did some work with Faircoin so let's take it as example. IMO in currencies like faircoin it all pretty much boils down to owning them. One can't do anything else with Faircoins than own it and change ownership (by moving them to another address). I also find it bit awkward to talk about 'responsibility' for some faircoins.

I think many people relate *ownership* with potential to *

[2016-12-12 18:55] bhaugen commented on #29
Sure, and mostly I don't, except for collective wallets. Somebody needs to be responsible for those. Faircoin has a lot of them. One of them just went a little crazy and needed to be rebuilt. Good thing somebody was responsible. By the way, that person did not own the coins.

When I talk about responsibility as a replacement for ownership in a commons-based economy, though, I am usually thinking a

[2016-12-12 23:17] gcassel commented on #29
Collective wallets are IMO like any shared 'ownership', in that they create (at least a few) rights and responsibilities.   Like many expectations, those rights and responsibilities are probably *implied* more often than they're formally stated.

Anyway... there's a sort of responsibility which the issuer of a currency has to people which hold substantial amounts of that currency.  It's mutually e

[2016-12-13 21:29] stevebosserman commented on #32
Much earlier (due to my slowness!), @bhaugen stated:

With the increasing availability of affordable, labor-saving technologies that help people meet their basic needs coupled with an increasing recognition that the cost to cover people's basic needs is less than the cost to counteract the destruction of environment, infrastructure, and civilization caused when people do not have access to the mea

[2016-12-13 22:18] bhaugen commented on #32
@stevebosserman thanks a lot for that course correction. I hope I was not advocating efficiency. I agree that we will have many other preferences when we get good at being human than efficiency.

[2016-12-14 02:33] elf-pavlik commented on #32
👍 @stevebosserman thank you for this reality check ☮️

I would say - the commitment needs to **get fulfilled** (and if we have pair of reciprocal commitments with one already fulfilled we can consider the remaining commitment as claim #22). At the same time we can't expect that each commitment we can base on some quantitative value and keep decrementing it by events also with some quantitative val

[2016-12-14 12:26] bhaugen commented on #32
Agreed. That's part of the Conversation for Action protocol: is everybody satisfied at the end? For whatever reason.

[2016-12-15 00:48] elf-pavlik commented on #32
![reciprocity-3-1](https://cloud.githubusercontent.com/assets/876431/21207204/6b90ac9e-c22c-11e6-84c6-05e09bf76e7f.png)

Based on above diagram illustrating exchange (barter) between a farm and factory. Example snippets for two (out of four) Commitments and first two events starting to fulfill them:

[code]

[code]

[code]

[code]

[code]

[code]

[2016-12-15 15:27] fosterlynn commented on #32
Re. fulfilling commitments - we could add a status that is "fulfilled" "unfulfilled" or similar, to take care of the more qualitative cases.

[2016-12-15 15:32] bhaugen commented on #32
Seems likely to me that commitments need their own internal set of states or possibly state machine.

[2016-12-15 15:37] bhaugen commented on #32
P.S. commitments need their own states, plus they need to be related to intents and conversations for action. There is a whole evolution of intents that goes through CfA to commitments and economic events that needs to be fleshed out. I see bits and pieces in a lot of the current examples and yaml. So far, seems to focus on the data, but maybe misses some of the protocol.

[2016-12-15 19:05] elf-pavlik commented on #32
We discussed with @fosterlynn that sometimes new Commitment(s) can *supersede* some prior Commitment(s).

We should start thinking more about the interaction flow and how data emerges from it, which apps creates which records, which records gets published in which namespace, which records get signed and possibly a copy gets republished, which records require approval (eg. signature) from which age

[2016-12-15 19:13] fosterlynn commented on #32
There has been some discussion with @elf-pavlik that the state of a plan before someone has actually committed to a task is still an "intent" (rather than say a "plan").  Then when someone commits to the task, it is a commitment.  Anyway, there is still analysis to be done here; agree it is worth looking at a state machine.

I'm not sold on this - yet. :)   I think that changes to expectations on

[2016-12-16 14:43] fosterlynn commented on #32
[deleted my post] missed yesterday's posts, one of them mine.... mind is going too....

[2016-12-16 14:51] bhaugen commented on #32
Lynn and I kept discussing this topic, and I wonder if we should rename Commitment.

Bill McCarthy's original definition of commitments in REA was Event Image, as the image of an economic event that had not yet happened. But the name also suggests that people have committed to it, which is not always the case, and seldom the case when a plan is just proposed.

Anyway, a lot of related concepts flo

[2016-12-16 15:31] fosterlynn commented on #32
Yeah, this is where @elf-pavlik suggested, and I agreed, that it could still be an intent before someone has actually committed to it.  This is our current working proposition, but lots of nuances there...

[2016-12-16 16:31] stevebosserman commented on #32
Recent posting in Aeon, [In Proof We Trust](https://aeon.co/essays/how-blockchain-will-revolutionise-far-more-than-money) about blockchain technology that may be germane to this discussion.  Here's a telling quote:

Perhaps future blockchain technologies can account for the value flows of various capitals as they are applied to convert commitment and intent into documented actions that yield measu

[2016-12-16 17:02] bhaugen commented on #32
Blockchains were a brilliant invention, the first practical implementation of [global consensus (in the computer consensus sense)](https://en.wikipedia.org/wiki/Consensus_(computer_science)).

The difficulties with blockchains and value flows are that:
* value flows are networks, not chains; and
* blockchains are centralizing mechanisms, even though they claim to be decentralized. By that I mean,

[2016-12-17 12:21] stevebosserman commented on #32
I don't know enough about blockchain technology to have an informed opinion so I apologize in advance for asking you all to educate me, but...

@bhaugen stated:

Couldn't one argue that flow of value in a value flow "network" is an account of commitments / intents and the claims generated by them which are filled completely, in part, or not at all?  And isn't a fulfilled claim a transfer of resour

[2016-12-17 12:43] bhaugen commented on #32
The one where Jim Anastassiou and I swap roles, and I defend blockchains? Here 'tis:
https://groups.google.com/d/msg/Sensorica/YPs9CEko5_0/gQD-PrXnDQAJ

Yes. Good use of a community blockchain. But the community will then be dependent on that blockchain. We had an instance in the Freedom Coop project where the system we were using got banned by the blockchain system because of a bug in our system.

[2016-12-17 21:53] stevebosserman commented on #32
In my opinion, technology is changing faster, e.g., distributing more information into the long tail, than our largely centralized "trust structures" can adapt.  Just like we're experiencing now in the aftermath of our presidential election, we don't know which information sources to trust which lowers our confidence in our governance structures - particularly at international and national levels

[2016-12-18 17:41] fosterlynn commented on #32
@elf-pavlik and I have been working on a model to support exchanges and other reciprocity.  Still a work in progress, but I think we are getting to something.  And I hope he does too!

We have looked at standard exchanges (sales, barter, etc.), gift economy, contributory economy, timebank.

Here is a UML of where I see it at right now.  UML diagrams are notoriously static, so see notes below.  (We

[2016-12-18 20:10] fosterlynn commented on #32
Timebank YAML based on the above model, first draft.

[code]

Then Mary calls Paul and arranges for him to come and fix her faucet, they set a date (not recorded in the system).  When Paul is done, Mary checks it out, and credits his account for the hours he worked.  Looks like this when done (which is all at once).

[code]
[code]
[code]
[code]

Note in this case, although commitments could be rec

[2017-01-21 16:15] fosterlynn opened #33 "Further integrating mutual credit concepts into exchange"
This is undeveloped yet, but I want to get the thought out here.

In starting to work more with the mutual credit people around the MAN, and also with a network that wants to combine mutual credit and production (GoPacifia in Argentina @gopacifia), there has been some discussion of how this would work.

In mutual credit, you basically get credits in exchange for another resource or contribution or

[2017-01-27 18:52] fosterlynn commented on #33
This may be as simple as making sure that vf:Resources can go negative (or maybe a type of vf:Resource - probably most accounts can go negative, including bank accounts).

I'm asking around.....  [edit]

I am trying to figure out if the qudt element we are using can go negative.....

[2017-02-09 14:58] bhaugen opened #34 "Revised Exchange model for comment"
https://docs.google.com/document/d/1UkNwicYo2JjeChcXAlvlVPz2gFlZDr9KYJP_GBKGOo8/edit?usp=sharing

Comment here or on the doc?

[2017-02-09 15:09] bhaugen commented on #34
P.S. this issue and document were created as part of a conversation with the REA community. They may respond in an email thread, on the document, or here. Probably not here, but I want to give them the opportunity.

Of course, anybody else who sees this can respond, too.

[2017-02-09 18:20] elf-pavlik commented on #34
Would it make sense to mention use cases like - exchanging *work* for *usage* where 'transferring ownership over resources' doesn't seem to fit that well?

[2017-02-09 18:49] bhaugen commented on #34
Yes. I plan to write up use cases about work and services where ownership transfer doesn't make sense, for another REA community response, assuming we get any responses to this first one.

[2017-02-13 01:05] elf-pavlik commented on #34
I think *usage* fits here also very well and don't have peculiarities of *work* (should we consider 'work force' of agent doing the work as resource) and *servce* (possibly event that directly connects two processes - not a resource appearing on output of one and input of other one)

[2017-02-13 01:17] bhaugen commented on #34
@elf-pavlik what do you think are the peculiarities of work?

(I also consider human labor to be different from other process inputs in a lot of ways. Just wondering which ways you had in mind.)

[2017-02-17 18:56] elf-pavlik commented on #34
1. I think all other events reference a particular resource which they affect in some way, *work* currently doesn't make that resource explicit and it seems like implying *the work force of the person who 'provided' it*
2. For most events happening as inputs, we can trace back some previous outputs that made it possible, for *use* of equipment we have all kind of events on that equipment *produce*

[2017-02-17 19:11] elf-pavlik commented on #33
This sounds in a way like making commitment(s) to *receive* on that account (promising that to all peers in mutual credit system that this account belongs to) Later one needs to make agreements with others which would result in *receive* on that account and this way fulfilling that commitment. I think this interpretation fits how people think of mutual credit accounts - if someone has 'negative ba

[2017-02-18 14:40] bhaugen commented on #33
Matthew Slater, who has worked on mutual credit systems as much as anybody we know, thinks of negative balances as IOU's to the community, and positive balances meaning you have an IOU from the community.. Which matches your description above.

I am also wondering if mutual credit would be a simple way to implement peerconomy...

[2017-02-18 17:17] elf-pavlik commented on #33
I still aim at polyeconomy (plural economy) where everyone can choose to engage or not to engage in any number of those systems.

IOU ~= you have a Claim

but we have case on very unspecific Claims which require CfA to possibly render more specific Commitment which fulfilled by Event will satisfy part of that Claim. in a way big Claim *major negative balance* gets satisfied bite by bite, possibly

[2017-02-18 20:12] elf-pavlik commented on #33
Timabanks make such IOU, Claims little more specific, person with *negative hours* in practice has commitment to *work* this amount of hours where *work* events will have any other member of the timebank as *receive* party.

@fosterlynn I think we could model timebanks and mutual credit banks as an agreement where *negative balances* stay modeled as broad commitments/claims and Events with Fulfill

[2017-02-19 15:25] fosterlynn commented on #33
I think that there is no need to instantiate any claim or commitment for the negative timebank hours (IOUs). It is there in any case based on the events so far and there is no other need, especially since it is not specific.  @elf-pavlik is that what you were saying?

[2017-02-19 22:32] elf-pavlik commented on #33
Not really, while in case of mutual credit we have quite unspecific Claim, for timebank it seems much more specific. For 'negative balance' we would have
*All the rest of timebank participants, have claim that person with *negative balance* will work some of the requests from the rest of participants for number of hours equal the negative balance.*
For 'positive balance' we would have
* The person

[2017-02-22 00:47] fosterlynn commented on #33
Wouldn't that get pretty messy?  Instantiating a new commitment whenever someone goes negative; and whenever they go up, hooking up to some one or more earlier commitments?

Again, we don't need to instantiate a claim when the data already indicates one.  This applies in any case, not just timebank.

In terms of the group agent (T - Pn), I don't think that is an agent.  Did that group of people ha

[2017-03-02 23:47] fosterlynn commented on #33
Re. can our quantity go negative, thanks to @elf-pavlik :

[code]
[code]

xsd:float can go negative
so dtype:numericUnion can also

[2017-03-08 01:38] elf-pavlik commented on #33
Just capturing some thoughts on this issue:

1) I think in mutual credit systems, all participants agree that they should *increment* their accounts if they have balance < 0 and *decrement* them if they have balance > 0, when they have balance = 0 the have no commitment to others. I think it matters that everyone goes towards 0, most mutual credit systems has some 'maximum level below zero' but I

[2017-05-23 17:04] gcassel commented on #30
Dunno if this idea progressed anywhere-- if so, links appreciated!

Anyway, I think this subject can be effectively addressed through simple modular conventions for names and relationships, *as long as* the (resource) sending and receiving agents can mutually agree upon the names and relationships involved.

For example, I think it'd be very helpful for a vf community to enable a mutually verified

[2018-05-07 21:35] ghost commented on #15
@fosterlynn @bhaugen @ahdinosaur @gcassel @coopchange

A real treat to come back to this years later! In the meantime there was the birth of a child and many continental migrations. Now that I have reconnected with this I will make some time to come back here and update on what happened during this span of time.

[2018-05-07 22:52] fosterlynn commented on #15
Hey @dan-mi-sun great to see you back here!  And lovely to hear about your child, that'll put a crimp in your free time! In a good way, of course... :)

[2018-11-02 22:39] elf-pavlik commented on #19
Project shown in [this video](https://www.youtube.com/watch?v=Y_Td2_0rxYo) -- https://www.kidner-project.com/ had a chain of 30 kidney donors and 30 kidney recipients. I think this gives a nice example where no one wants to sell or buy (exchange for currency) any of those kidneys but pairs of donors and recipients search for matches of compatible kidneys.

[2020-06-23 21:04] almereyda commented on #34
We have moved the ValueFlows organization from GitHub to https://lab.allmende.io/valueflows.

This issue has been closed here, and all further discussion on this issue can be done at

If you have not done so, you are very welcome to register at https://lab.allmende.io and join the ValueFlows organization there.

[2020-06-23 21:04] #34 closed

[2020-06-23 21:04] almereyda commented on #33
We have moved the ValueFlows organization from GitHub to https://lab.allmende.io/valueflows.

This issue has been closed here, and all further discussion on this issue can be done at

If you have not done so, you are very welcome to register at https://lab.allmende.io and join the ValueFlows organization there.

[2020-06-23 21:04] #33 closed

[2020-06-23 21:04] almereyda commented on #32
We have moved the ValueFlows organization from GitHub to https://lab.allmende.io/valueflows.

This issue has been closed here, and all further discussion on this issue can be done at

If you have not done so, you are very welcome to register at https://lab.allmende.io and join the ValueFlows organization there.

[2020-06-23 21:04] #32 closed

[2020-06-23 21:04] almereyda commented on #31
We have moved the ValueFlows organization from GitHub to https://lab.allmende.io/valueflows.

This issue has been closed here, and all further discussion on this issue can be done at

If you have not done so, you are very welcome to register at https://lab.allmende.io and join the ValueFlows organization there.

[2020-06-23 21:04] #31 closed

[2020-06-23 21:04] almereyda commented on #30
We have moved the ValueFlows organization from GitHub to https://lab.allmende.io/valueflows.

This issue has been closed here, and all further discussion on this issue can be done at

If you have not done so, you are very welcome to register at https://lab.allmende.io and join the ValueFlows organization there.

[2020-06-23 21:04] #30 closed

[2020-06-23 21:04] almereyda commented on #29
We have moved the ValueFlows organization from GitHub to https://lab.allmende.io/valueflows.

This issue has been closed here, and all further discussion on this issue can be done at

If you have not done so, you are very welcome to register at https://lab.allmende.io and join the ValueFlows organization there.

[2020-06-23 21:04] #29 closed

[2020-06-23 21:04] almereyda commented on #28
We have moved the ValueFlows organization from GitHub to https://lab.allmende.io/valueflows.

This issue has been closed here, and all further discussion on this issue can be done at

If you have not done so, you are very welcome to register at https://lab.allmende.io and join the ValueFlows organization there.

[2020-06-23 21:04] #28 closed

[2020-06-23 21:04] almereyda commented on #27
We have moved the ValueFlows organization from GitHub to https://lab.allmende.io/valueflows.

This issue has been closed here, and all further discussion on this issue can be done at

If you have not done so, you are very welcome to register at https://lab.allmende.io and join the ValueFlows organization there.

[2020-06-23 21:04] #27 closed

[2020-06-23 21:04] almereyda commented on #26
We have moved the ValueFlows organization from GitHub to https://lab.allmende.io/valueflows.

This issue has been closed here, and all further discussion on this issue can be done at

If you have not done so, you are very welcome to register at https://lab.allmende.io and join the ValueFlows organization there.

[2020-06-23 21:04] #26 closed

[2020-06-23 21:04] almereyda commented on #25
We have moved the ValueFlows organization from GitHub to https://lab.allmende.io/valueflows.

This issue has been closed here, and all further discussion on this issue can be done at

If you have not done so, you are very welcome to register at https://lab.allmende.io and join the ValueFlows organization there.

[2020-06-23 21:04] #25 closed

[2020-06-23 21:04] almereyda commented on #24
We have moved the ValueFlows organization from GitHub to https://lab.allmende.io/valueflows.

This issue has been closed here, and all further discussion on this issue can be done at

If you have not done so, you are very welcome to register at https://lab.allmende.io and join the ValueFlows organization there.

[2020-06-23 21:04] #24 closed

[2020-06-23 21:04] almereyda commented on #23
We have moved the ValueFlows organization from GitHub to https://lab.allmende.io/valueflows.

This issue has been closed here, and all further discussion on this issue can be done at

If you have not done so, you are very welcome to register at https://lab.allmende.io and join the ValueFlows organization there.

[2020-06-23 21:04] #23 closed

[2020-06-23 21:04] almereyda commented on #22
We have moved the ValueFlows organization from GitHub to https://lab.allmende.io/valueflows.

This issue has been closed here, and all further discussion on this issue can be done at

If you have not done so, you are very welcome to register at https://lab.allmende.io and join the ValueFlows organization there.

[2020-06-23 21:04] #22 closed

[2020-06-23 21:04] almereyda commented on #21
We have moved the ValueFlows organization from GitHub to https://lab.allmende.io/valueflows.

This issue has been closed here, and all further discussion on this issue can be done at

If you have not done so, you are very welcome to register at https://lab.allmende.io and join the ValueFlows organization there.

[2020-06-23 21:04] #21 closed

[2020-06-23 21:04] almereyda commented on #19
We have moved the ValueFlows organization from GitHub to https://lab.allmende.io/valueflows.

This issue has been closed here, and all further discussion on this issue can be done at

If you have not done so, you are very welcome to register at https://lab.allmende.io and join the ValueFlows organization there.

[2020-06-23 21:04] #19 closed

[2020-06-23 21:04] almereyda commented on #17
We have moved the ValueFlows organization from GitHub to https://lab.allmende.io/valueflows.

This issue has been closed here, and all further discussion on this issue can be done at

If you have not done so, you are very welcome to register at https://lab.allmende.io and join the ValueFlows organization there.

[2020-06-23 21:04] #17 closed

[2020-06-23 21:04] almereyda commented on #16
We have moved the ValueFlows organization from GitHub to https://lab.allmende.io/valueflows.

This issue has been closed here, and all further discussion on this issue can be done at

If you have not done so, you are very welcome to register at https://lab.allmende.io and join the ValueFlows organization there.

[2020-06-23 21:04] #16 closed

[2020-06-23 21:04] almereyda commented on #15
We have moved the ValueFlows organization from GitHub to https://lab.allmende.io/valueflows.

This issue has been closed here, and all further discussion on this issue can be done at

If you have not done so, you are very welcome to register at https://lab.allmende.io and join the ValueFlows organization there.

[2020-06-23 21:04] #15 closed

[2020-06-23 21:04] almereyda commented on #14
We have moved the ValueFlows organization from GitHub to https://lab.allmende.io/valueflows.

This issue has been closed here, and all further discussion on this issue can be done at

If you have not done so, you are very welcome to register at https://lab.allmende.io and join the ValueFlows organization there.

[2020-06-23 21:04] #14 closed

[2020-06-23 21:04] almereyda commented on #13
We have moved the ValueFlows organization from GitHub to https://lab.allmende.io/valueflows.

This issue has been closed here, and all further discussion on this issue can be done at

If you have not done so, you are very welcome to register at https://lab.allmende.io and join the ValueFlows organization there.

[2020-06-23 21:04] #13 closed

[2020-06-23 21:04] almereyda commented on #12
We have moved the ValueFlows organization from GitHub to https://lab.allmende.io/valueflows.

This issue has been closed here, and all further discussion on this issue can be done at

If you have not done so, you are very welcome to register at https://lab.allmende.io and join the ValueFlows organization there.

[2020-06-23 21:04] #12 closed

[2020-06-23 21:04] almereyda commented on #11
We have moved the ValueFlows organization from GitHub to https://lab.allmende.io/valueflows.

This issue has been closed here, and all further discussion on this issue can be done at

If you have not done so, you are very welcome to register at https://lab.allmende.io and join the ValueFlows organization there.

[2020-06-23 21:04] #11 closed

[2020-06-23 21:04] almereyda commented on #10
We have moved the ValueFlows organization from GitHub to https://lab.allmende.io/valueflows.

This issue has been closed here, and all further discussion on this issue can be done at

If you have not done so, you are very welcome to register at https://lab.allmende.io and join the ValueFlows organization there.

[2020-06-23 21:04] #10 closed

[2020-06-23 21:04] almereyda commented on #9
We have moved the ValueFlows organization from GitHub to https://lab.allmende.io/valueflows.

This issue has been closed here, and all further discussion on this issue can be done at

If you have not done so, you are very welcome to register at https://lab.allmende.io and join the ValueFlows organization there.

[2020-06-23 21:04] #9 closed

[2020-06-23 21:04] almereyda commented on #8
We have moved the ValueFlows organization from GitHub to https://lab.allmende.io/valueflows.

This issue has been closed here, and all further discussion on this issue can be done at

If you have not done so, you are very welcome to register at https://lab.allmende.io and join the ValueFlows organization there.

[2020-06-23 21:04] #8 closed

[2020-06-23 21:04] almereyda commented on #7
We have moved the ValueFlows organization from GitHub to https://lab.allmende.io/valueflows.

This issue has been closed here, and all further discussion on this issue can be done at

If you have not done so, you are very welcome to register at https://lab.allmende.io and join the ValueFlows organization there.

[2020-06-23 21:05] #7 closed

[2020-06-23 21:05] almereyda commented on #6
We have moved the ValueFlows organization from GitHub to https://lab.allmende.io/valueflows.

This issue has been closed here, and all further discussion on this issue can be done at

If you have not done so, you are very welcome to register at https://lab.allmende.io and join the ValueFlows organization there.

[2020-06-23 21:05] #6 closed

[2020-06-23 21:05] almereyda commented on #5
We have moved the ValueFlows organization from GitHub to https://lab.allmende.io/valueflows.

This issue has been closed here, and all further discussion on this issue can be done at

If you have not done so, you are very welcome to register at https://lab.allmende.io and join the ValueFlows organization there.

[2020-06-23 21:05] #5 closed

[2020-06-23 21:05] almereyda commented on #4
We have moved the ValueFlows organization from GitHub to https://lab.allmende.io/valueflows.

This issue has been closed here, and all further discussion on this issue can be done at

If you have not done so, you are very welcome to register at https://lab.allmende.io and join the ValueFlows organization there.

[2020-06-23 21:05] #4 closed

[2020-06-23 21:05] almereyda commented on #3
We have moved the ValueFlows organization from GitHub to https://lab.allmende.io/valueflows.

This issue has been closed here, and all further discussion on this issue can be done at

If you have not done so, you are very welcome to register at https://lab.allmende.io and join the ValueFlows organization there.

[2020-06-23 21:05] #3 closed

[2020-06-23 21:10] almereyda commented on #2
We have moved the ValueFlows organization from GitHub to https://lab.allmende.io/valueflows.

This issue has been closed here, and all further discussion on this issue can be done at

If you have not done so, you are very welcome to register at https://lab.allmende.io and join the ValueFlows organization there.

[2020-06-23 21:10] #2 closed